<a href="https://colab.research.google.com/github/Ash-Stat/An-Si-Hyun/blob/data/%EB%8C%80%EC%A0%84%EC%A2%8C%ED%91%9C%EC%98%88%EC%B8%A1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [140]:
import pandas as pd
import numpy as np
Daejeon_S1=pd.read_csv('./Daejeon_S1_HGVI.csv')
location=pd.read_csv('./좌표회귀이.txt',sep=' ')

In [141]:
Daejeon_S1=Daejeon_S1.drop(['Number','계약년','계약월','계약일','도시','구','동','도로명','난방연료','난방연료'],axis=1)
Daejeon_S1

      전용면적(㎡)        거래금액(만원)  건축년도  ...         인구밀도       고학력자      HGVI
0     192.176          57,900  2008  ...  2043.981484  37.569204  6.272209
1     164.227          52,000  2008  ...  2043.981484  37.569204  6.272209
2     132.352          47,000  2008  ...  2043.981484  37.569204  6.272209
3     163.934          69,000  2008  ...  2043.981484  37.569204  6.272209
4     163.934          47,000  2008  ...  2043.981484  37.569204  6.272209
...       ...             ...   ...  ...          ...        ...       ...
1025   84.901          38,800  2008  ...  2043.981484  37.569204  5.788087
1026   84.738          37,700  2008  ...  2043.981484  37.569204  5.788087
1027   84.738          39,000  2008  ...  2043.981484  37.569204  5.788087
1028  114.781          49,000  2008  ...  2043.981484  37.569204  5.788087
1029   84.901          39,500  2008  ...  2043.981484  37.569204  5.788087

[1030 rows x 28 columns]

In [142]:
Daejeon_S1=Daejeon_S1.drop(['아파트 이름'],axis=1)
Daejeon_S1

      전용면적(㎡)        거래금액(만원)  건축년도  ...         인구밀도       고학력자      HGVI
0     192.176          57,900  2008  ...  2043.981484  37.569204  6.272209
1     164.227          52,000  2008  ...  2043.981484  37.569204  6.272209
2     132.352          47,000  2008  ...  2043.981484  37.569204  6.272209
3     163.934          69,000  2008  ...  2043.981484  37.569204  6.272209
4     163.934          47,000  2008  ...  2043.981484  37.569204  6.272209
...       ...             ...   ...  ...          ...        ...       ...
1025   84.901          38,800  2008  ...  2043.981484  37.569204  5.788087
1026   84.738          37,700  2008  ...  2043.981484  37.569204  5.788087
1027   84.738          39,000  2008  ...  2043.981484  37.569204  5.788087
1028  114.781          49,000  2008  ...  2043.981484  37.569204  5.788087
1029   84.901          39,500  2008  ...  2043.981484  37.569204  5.788087

[1030 rows x 27 columns]

In [143]:
location

     train_log  train_lat  target_west_log  ...  target_south_lat  unique  total
0   127.399083  36.420188       127.397441  ...         36.419592     150    150
1   127.396962  36.419159       127.396232  ...         36.418028     224    374
2   127.387112  36.425201       127.384494  ...         36.424554     324    698
3   127.384448  36.423709       127.383568  ...         36.422552     248    946
4   127.396717  36.417635       127.395515  ...         36.417402     240   1186
5   127.396493  36.416300       127.394766  ...         36.415929     247   1433
6   127.381274  36.420259       127.380115  ...         36.418688     310   1743
7   127.381899  36.432853       127.380418  ...         36.429556     438   2181
8   127.384333  36.436759       127.383732  ...         36.436086     241   2422
9   127.386705  36.420242       127.385568  ...         36.418498     253   2675
10  127.385216  36.419541       127.383145  ...         36.418470     138   2813
11  127.392178  36.417657       127.389796  ...         36.416690     387   3200
12  127.393537  36.419331       127.391735  ...         36.418165     329   3529
13  127.391188  36.420211       127.388356  ...         36.418070     260   3789
14  127.386147  36.421753       127.385224  ...         36.420044     179   3968
15  127.383162  36.436780       127.380995  ...         36.433448     362   4330
16  127.382459  36.438254       127.381150  ...         36.437891     230   4560
17  127.384525  36.430830       127.382776  ...         36.428551     360   4920
18  127.384659  36.432308       127.383715  ...         36.431341     369   5289
19  127.383408  36.422605       127.381445  ...         36.420317     205   5494
20  127.387256  36.422579       127.385486  ...         36.421914     166   5660
21  127.390725  36.422471       127.388043  ...         36.420019     396   6056

[22 rows x 8 columns]

In [144]:
Daejeon_S1[['target_west_log','target_east_log','target_north_lat','target_south_lat']]=np.nan

In [145]:
for v1,v2,v3 in zip(Daejeon_S1['x'],Daejeon_S1['y'],Daejeon_S1.index):
  v1=round(v1,6)
  v2=round(v2,6)
  for c1,c2,c3,c4,c5,c6,c7 in zip(location['train_log'],location['train_lat'],location['target_west_log'],location['target_east_log'],location['target_north_lat'],location['target_south_lat'],location.index):
    c1=round(c1,6)
    c2=round(c2,6)
    c3=round(c3,6)
    c4=round(c4,6)
    c5=round(c5,6)
    c6=round(c6,6)
    if v1 == c1 and v2 == c2:
      Daejeon_S1['target_west_log'].loc[v3] = c3
      Daejeon_S1['target_east_log'].loc[v3] = c4
      Daejeon_S1['target_north_lat'].loc[v3] = c5
      Daejeon_S1['target_south_lat'].loc[v3] = c6
Daejeon_S1

/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

      전용면적(㎡)        거래금액(만원)  ...  target_north_lat  target_south_lat
0     192.176          57,900  ...         36.421138         36.419592
1     164.227          52,000  ...         36.421138         36.419592
2     132.352          47,000  ...         36.421138         36.419592
3     163.934          69,000  ...         36.421138         36.419592
4     163.934          47,000  ...         36.421138         36.419592
...       ...             ...  ...               ...               ...
1025   84.901          38,800  ...         36.421849         36.420019
1026   84.738          37,700  ...         36.421849         36.420019
1027   84.738          39,000  ...         36.421849         36.420019
1028  114.781          49,000  ...         36.421849         36.420019
1029   84.901          39,500  ...         36.421849         36.420019

[1030 rows x 31 columns]

In [146]:
Daejeon_S1=Daejeon_S1.drop_duplicates()
Daejeon_S1

      전용면적(㎡)        거래금액(만원)  ...  target_north_lat  target_south_lat
0     192.176          57,900  ...         36.421138         36.419592
1     164.227          52,000  ...         36.421138         36.419592
2     132.352          47,000  ...         36.421138         36.419592
3     163.934          69,000  ...         36.421138         36.419592
4     163.934          47,000  ...         36.421138         36.419592
...       ...             ...  ...               ...               ...
1025   84.901          38,800  ...         36.421849         36.420019
1026   84.738          37,700  ...         36.421849         36.420019
1027   84.738          39,000  ...         36.421849         36.420019
1028  114.781          49,000  ...         36.421849         36.420019
1029   84.901          39,500  ...         36.421849         36.420019

[766 rows x 31 columns]

In [147]:
target=Daejeon_S1[['target_west_log','target_east_log','target_north_lat','target_south_lat']]
target

      target_west_log  target_east_log  target_north_lat  target_south_lat
0          127.397441       127.399512         36.421138         36.419592
1          127.397441       127.399512         36.421138         36.419592
2          127.397441       127.399512         36.421138         36.419592
3          127.397441       127.399512         36.421138         36.419592
4          127.397441       127.399512         36.421138         36.419592
...               ...              ...               ...               ...
1025       127.388043       127.394609         36.421849         36.420019
1026       127.388043       127.394609         36.421849         36.420019
1027       127.388043       127.394609         36.421849         36.420019
1028       127.388043       127.394609         36.421849         36.420019
1029       127.388043       127.394609         36.421849         36.420019

[766 rows x 4 columns]

In [148]:
variables=Daejeon_S1.drop(['HGVI','target_west_log','target_east_log','target_north_lat','target_south_lat'],axis=1)
variables

      전용면적(㎡)        거래금액(만원)  건축년도  ...  65세이상인구         인구밀도       고학력자
0     192.176          57,900  2008  ...  5.36282  2043.981484  37.569204
1     164.227          52,000  2008  ...  5.36282  2043.981484  37.569204
2     132.352          47,000  2008  ...  5.36282  2043.981484  37.569204
3     163.934          69,000  2008  ...  5.36282  2043.981484  37.569204
4     163.934          47,000  2008  ...  5.36282  2043.981484  37.569204
...       ...             ...   ...  ...      ...          ...        ...
1025   84.901          38,800  2008  ...  5.36282  2043.981484  37.569204
1026   84.738          37,700  2008  ...  5.36282  2043.981484  37.569204
1027   84.738          39,000  2008  ...  5.36282  2043.981484  37.569204
1028  114.781          49,000  2008  ...  5.36282  2043.981484  37.569204
1029   84.901          39,500  2008  ...  5.36282  2043.981484  37.569204

[766 rows x 26 columns]

In [149]:
correlation=Daejeon_S1.corr()
correlation

                   전용면적(㎡)      건축년도  ...  target_north_lat  target_south_lat
전용면적(㎡)           1.000000  0.570005  ...         -0.517907         -0.486535
건축년도              0.570005  1.000000  ...         -0.716818         -0.676809
x                 0.584458  0.510807  ...         -0.625286         -0.592835
y                -0.522370 -0.728271  ...          0.995898          0.990682
지하철과의 직선거리       -0.496880 -0.723075  ...          0.993426          0.989781
지하철과의 도로망거리      -0.496880 -0.723075  ...          0.993426          0.989781
최고층              -0.031061  0.592934  ...         -0.357348         -0.349264
세대수              -0.181030  0.057003  ...          0.110374          0.121451
총동수               0.300364  0.711633  ...         -0.581380         -0.555295
서울대입학자            0.491029  0.648756  ...         -0.883415         -0.842817
고등학교수             0.220708  0.176503  ...         -0.181383         -0.102418
CBD              -0.508037 -0.726285  ...          0.995149          0.990560
녹지거리             -0.213328 -0.112616  ...          0.165500          0.108117
수변거리             -0.363058 -0.569112  ...          0.668266          0.655614
버스정류장수            0.068495  0.130859  ...         -0.284539         -0.257909
인구                0.492272  0.822497  ...         -0.943065         -0.929826
남자                0.492272  0.822497  ...         -0.943065         -0.929826
여자                0.492272  0.822497  ...         -0.943065         -0.929826
성비               -0.492272 -0.822497  ...          0.943065          0.929826
중위연령              0.492272  0.822497  ...         -0.943065         -0.929826
15세이하인구           0.492272  0.822497  ...         -0.943065         -0.929826
65세이상인구          -0.492272 -0.822497  ...          0.943065          0.929826
인구밀도              0.492272  0.822497  ...         -0.943065         -0.929826
고학력자              0.492272  0.822497  ...         -0.943065         -0.929826
HGVI              0.026931  0.035097  ...         -0.225575         -0.288542
target_west_log   0.603518  0.504872  ...         -0.623595         -0.585383
target_east_log   0.535578  0.459365  ...         -0.597387         -0.566130
target_north_lat -0.517907 -0.716818  ...          1.000000          0.989224
target_south_lat -0.486535 -0.676809  ...          0.989224          1.000000

[29 rows x 29 columns]

In [150]:
from sklearn.model_selection import train_test_split
train,test=train_test_split(Daejeon_S1,test_size=0.2,random_state=42)

In [151]:
train

      전용면적(㎡)        거래금액(만원)  ...  target_north_lat  target_south_lat
486  122.5584          37,000  ...         36.420022         36.418165
613   84.4400          15,000  ...         36.438023         36.433448
352  120.0130          32,300  ...         36.421865         36.418498
480  122.5584          38,300  ...         36.420022         36.418165
450  101.9137          38,900  ...         36.419004         36.416690
..        ...             ...  ...               ...               ...
85    84.9363          34,500  ...         36.424555         36.422552
127  101.6932          26,000  ...         36.420777         36.418688
400   84.9700          24,800  ...         36.419947         36.418470
609   59.2925          11,370  ...         36.438023         36.433448
122  118.6652          28,900  ...         36.420777         36.418688

[612 rows x 31 columns]

In [152]:
test

      전용면적(㎡)        거래금액(만원)  ...  target_north_lat  target_south_lat
599   84.9548          28,700  ...         36.422478         36.420044
896  128.9588          37,000  ...         36.423434         36.421914
495  100.0000          32,500  ...         36.420634         36.418070
771   84.8800          23,000  ...         36.431132         36.428551
478  144.9821          41,900  ...         36.420022         36.418165
..        ...             ...  ...               ...               ...
484  123.1282          38,400  ...         36.420022         36.418165
363   69.8937          24,800  ...         36.421865         36.418498
490  144.9821          45,500  ...         36.420022         36.418165
70   128.8419          36,500  ...         36.424555         36.422552
862   84.6540          25,700  ...         36.423296         36.420317

[154 rows x 31 columns]

In [153]:
train_x=train.drop(['HGVI','target_west_log','target_east_log','target_north_lat','target_south_lat'],axis=1)
train_y=train[['target_west_log','target_east_log','target_north_lat','target_south_lat']]
test_x=test.drop(['HGVI','target_west_log','target_east_log','target_north_lat','target_south_lat'],axis=1)
test_y=test[['target_west_log','target_east_log','target_north_lat','target_south_lat']]

In [154]:
for ss,indd in zip(test_x['거래금액(만원)'], test_x.index) :
  ss=ss.replace(',','')
  test_x['거래금액(만원)'].loc[indd] = ss
test_x

/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

      전용면적(㎡)       거래금액(만원)  건축년도  ...  65세이상인구         인구밀도       고학력자
599   84.9548          28700  2006  ...  5.36282  2043.981484  37.569204
896  128.9588          37000  2008  ...  5.36282  2043.981484  37.569204
495  100.0000          32500  2006  ...  5.36282  2043.981484  37.569204
771   84.8800          23000  1999  ...  8.66255  1037.568256  28.311481
478  144.9821          41900  2008  ...  5.36282  2043.981484  37.569204
..        ...            ...   ...  ...      ...          ...        ...
484  123.1282          38400  2008  ...  5.36282  2043.981484  37.569204
363   69.8937          24800  2006  ...  5.36282  2043.981484  37.569204
490  144.9821          45500  2008  ...  5.36282  2043.981484  37.569204
70   128.8419          36500  2007  ...  5.36282  2043.981484  37.569204
862   84.6540          25700  2006  ...  5.36282  2043.981484  37.569204

[154 rows x 26 columns]

In [155]:
for ss1,indd1 in zip(train_x['거래금액(만원)'], train_x.index) :
  ss1=ss1.replace(',','')
  train_x['거래금액(만원)'].loc[indd1] = ss1
train_x

/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

      전용면적(㎡)       거래금액(만원)  건축년도  ...  65세이상인구         인구밀도       고학력자
486  122.5584          37000  2008  ...  5.36282  2043.981484  37.569204
613   84.4400          15000  1995  ...  8.66255  1037.568256  28.311481
352  120.0130          32300  2006  ...  5.36282  2043.981484  37.569204
480  122.5584          38300  2008  ...  5.36282  2043.981484  37.569204
450  101.9137          38900  2007  ...  5.36282  2043.981484  37.569204
..        ...            ...   ...  ...      ...          ...        ...
85    84.9363          34500  2007  ...  5.36282  2043.981484  37.569204
127  101.6932          26000  2006  ...  5.36282  2043.981484  37.569204
400   84.9700          24800  2006  ...  5.36282  2043.981484  37.569204
609   59.2925          11370  1995  ...  8.66255  1037.568256  28.311481
122  118.6652          28900  2006  ...  5.36282  2043.981484  37.569204

[612 rows x 26 columns]

In [156]:
train_x

      전용면적(㎡)       거래금액(만원)  건축년도  ...  65세이상인구         인구밀도       고학력자
486  122.5584          37000  2008  ...  5.36282  2043.981484  37.569204
613   84.4400          15000  1995  ...  8.66255  1037.568256  28.311481
352  120.0130          32300  2006  ...  5.36282  2043.981484  37.569204
480  122.5584          38300  2008  ...  5.36282  2043.981484  37.569204
450  101.9137          38900  2007  ...  5.36282  2043.981484  37.569204
..        ...            ...   ...  ...      ...          ...        ...
85    84.9363          34500  2007  ...  5.36282  2043.981484  37.569204
127  101.6932          26000  2006  ...  5.36282  2043.981484  37.569204
400   84.9700          24800  2006  ...  5.36282  2043.981484  37.569204
609   59.2925          11370  1995  ...  8.66255  1037.568256  28.311481
122  118.6652          28900  2006  ...  5.36282  2043.981484  37.569204

[612 rows x 26 columns]

In [157]:
train_x_x=train_x.replace({'자료없음' : np.nan})
test_x_x=test_x.replace({'자료없음' : np.nan})

In [158]:
train_x_x

      전용면적(㎡)       거래금액(만원)  건축년도  ...  65세이상인구         인구밀도       고학력자
486  122.5584          37000  2008  ...  5.36282  2043.981484  37.569204
613   84.4400          15000  1995  ...  8.66255  1037.568256  28.311481
352  120.0130          32300  2006  ...  5.36282  2043.981484  37.569204
480  122.5584          38300  2008  ...  5.36282  2043.981484  37.569204
450  101.9137          38900  2007  ...  5.36282  2043.981484  37.569204
..        ...            ...   ...  ...      ...          ...        ...
85    84.9363          34500  2007  ...  5.36282  2043.981484  37.569204
127  101.6932          26000  2006  ...  5.36282  2043.981484  37.569204
400   84.9700          24800  2006  ...  5.36282  2043.981484  37.569204
609   59.2925          11370  1995  ...  8.66255  1037.568256  28.311481
122  118.6652          28900  2006  ...  5.36282  2043.981484  37.569204

[612 rows x 26 columns]

In [159]:
train_x_x=train_x_x.astype(float)
train_y=train_y.astype(float)
test_x_x=test_x_x.astype(float)
test_y=test_y.astype(float)

In [160]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
scaler.fit(train_x_x)
train_x=scaler.fit_transform(train_x_x)
test_x=scaler.fit_transform(test_x_x)

In [161]:
train_x=pd.DataFrame(train_x)
test_x=pd.DataFrame(test_x)

In [162]:
train_x.columns=train_x_x.columns

In [163]:
test_x.columns=train_x_x.columns

In [164]:
train_x

      전용면적(㎡)  거래금액(만원)      건축년도  ...   65세이상인구      인구밀도      고학력자
0    1.186140  0.931244  0.831865  ... -0.717532  0.717532  0.717532
1   -0.222004 -1.090232 -1.703888  ...  1.393667 -1.393667 -1.393667
2    1.092109  0.499383  0.441749  ... -0.717532  0.717532  0.717532
3    1.186140  1.050695  0.831865  ... -0.717532  0.717532  0.717532
4    0.423497  1.105826  0.636807  ... -0.717532  0.717532  0.717532
..        ...       ...       ...  ...       ...       ...       ...
607 -0.203670  0.701531  0.636807  ... -0.717532  0.717532  0.717532
608  0.415352 -0.079494  0.441749  ... -0.717532  0.717532  0.717532
609 -0.202425 -0.189757  0.441749  ... -0.717532  0.717532  0.717532
610 -1.150986 -1.423776 -1.703888  ...  1.393667 -1.393667 -1.393667
611  1.042320  0.186973  0.441749  ... -0.717532  0.717532  0.717532

[612 rows x 26 columns]

In [165]:
test_x

      전용면적(㎡)  거래금액(만원)      건축년도  ...   65세이상인구      인구밀도      고학력자
0   -0.300193 -0.000615  0.327446  ... -0.622405  0.622405  0.622405
1    1.238186  0.720191  0.739093  ... -0.622405  0.622405  0.622405
2    0.225787  0.329393  0.327446  ... -0.622405  0.622405  0.622405
3   -0.302808 -0.495626 -1.113317  ...  1.606672 -1.606672 -1.606672
4    1.798360  1.145728  0.739093  ... -0.622405  0.622405  0.622405
..        ...       ...       ...  ...       ...       ...       ...
149  1.034348  0.841773  0.739093  ... -0.622405  0.622405  0.622405
150 -0.826729 -0.339307  0.327446  ... -0.622405  0.622405  0.622405
151  1.798360  1.458366  0.739093  ... -0.622405  0.622405  0.622405
152  1.234099  0.676769  0.533270  ... -0.622405  0.622405  0.622405
153 -0.310709 -0.261147  0.327446  ... -0.622405  0.622405  0.622405

[154 rows x 26 columns]

In [166]:
train_x=train_x.drop(['가구당주차대수'],axis=1)
test_x=test_x.drop(['가구당주차대수'],axis=1)

In [167]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
regression=LinearRegression()
regression.fit(train_x,train_y['target_west_log'])
train_predictions = regression.predict(train_x)
lin_mse=mean_squared_error(train_y['target_west_log'], train_predictions) #타겟값, 예측값
lin_rmse=np.sqrt(lin_mse)
lin_rmse

0.00032262924742350194

In [168]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
regression1=LinearRegression()
regression1.fit(train_x,train_y['target_east_log'])
train_predictions1 = regression1.predict(train_x)
lin_mse1=mean_squared_error(train_y['target_east_log'], train_predictions1) #타겟값, 예측값
lin_rmse1=np.sqrt(lin_mse1)
lin_rmse1

0.0004900570662359399

In [169]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
regression2=LinearRegression()
regression2.fit(train_x,train_y['target_north_lat'])
train_predictions2 = regression2.predict(train_x)
lin_mse2=mean_squared_error(train_y['target_north_lat'], train_predictions2) #타겟값, 예측값
lin_rmse2=np.sqrt(lin_mse2)
lin_rmse2

0.00024674546730943386

In [170]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
regression3=LinearRegression()
regression3.fit(train_x,train_y['target_south_lat'])
train_predictions3 = regression3.predict(train_x)
lin_mse3=mean_squared_error(train_y['target_south_lat'], train_predictions3) #타겟값, 예측값
lin_rmse3=np.sqrt(lin_mse3)
lin_rmse3

0.00043179112535295024

In [172]:
mse_west=mean_squared_error(test_y['target_west_log'], regression.predict(test_x))
rmse_west=np.sqrt(mse_west)
print(rmse_west)
print(regression.score(train_x,train_y['target_west_log']))

0.0008640293849091946
0.9925027959009128

In [173]:
mse_east=mean_squared_error(test_y['target_east_log'], regression1.predict(test_x))
rmse_east=np.sqrt(mse_east)
print(rmse_east)
print(regression1.score(train_x,train_y['target_east_log']))

0.0009760212205643856
0.9876716524650578

In [175]:
mse_north=mean_squared_error(test_y['target_north_lat'], regression2.predict(test_x))
rmse_north=np.sqrt(mse_north)
print(rmse_north)
print(regression2.score(train_x,train_y['target_north_lat']))

0.0011846627547222796
0.9987570169005348

In [177]:
mse_south=mean_squared_error(test_y['target_south_lat'], regression3.predict(test_x))
rmse_south=np.sqrt(mse_south)
print(rmse_south)
print(regression3.score(train_x,train_y['target_south_lat']))

0.001030504471241505
0.9956979172739927

In [178]:
x_data=Daejeon_S1[['x','y']]
y_data=Daejeon_S1[['target_west_log','target_east_log','target_north_lat','target_south_lat']]

In [179]:
x_data=x_data.drop_duplicates().reset_index()
y_data=y_data.drop_duplicates().reset_index()

In [180]:
x_data=x_data.drop(['index'],axis=1)
y_data=y_data.drop(['index'],axis=1)

In [181]:
x_data

             x          y
0   127.399083  36.420188
1   127.396962  36.419159
2   127.387112  36.425201
3   127.384448  36.423709
4   127.396717  36.417635
5   127.396493  36.416300
6   127.381274  36.420259
7   127.381899  36.432853
8   127.384333  36.436759
9   127.386705  36.420242
10  127.385216  36.419541
11  127.392178  36.417657
12  127.393537  36.419331
13  127.391188  36.420211
14  127.386147  36.421753
15  127.383162  36.436780
16  127.382459  36.438254
17  127.384525  36.430830
18  127.384659  36.432308
19  127.383408  36.422605
20  127.387256  36.422579
21  127.390725  36.422471

In [182]:
y_data

    target_west_log  target_east_log  target_north_lat  target_south_lat
0        127.397441       127.399512         36.421138         36.419592
1        127.396232       127.399226         36.419470         36.418028
2        127.384494       127.387187         36.426306         36.424554
3        127.383568       127.385403         36.424555         36.422552
4        127.395515       127.398305         36.418697         36.417402
5        127.394766       127.397534         36.417276         36.415929
6        127.380115       127.382873         36.420777         36.418688
7        127.380418       127.384431         36.434113         36.429556
8        127.383732       127.386618         36.436958         36.436086
9        127.385568       127.388808         36.421865         36.418498
10       127.383145       127.385409         36.419947         36.418470
11       127.389796       127.395354         36.419004         36.416690
12       127.391735       127.396005         36.420022         36.418165
13       127.388356       127.392561         36.420634         36.418070
14       127.385224       127.387284         36.422478         36.420044
15       127.380995       127.383870         36.438023         36.433448
16       127.381150       127.383822         36.440161         36.437891
17       127.382776       127.386842         36.431132         36.428551
18       127.383715       127.387577         36.432584         36.431341
19       127.381445       127.384749         36.423296         36.420317
20       127.385486       127.387996         36.423434         36.421914
21       127.388043       127.394609         36.421849         36.420019

In [183]:
x_y_data=pd.concat([x_data,y_data],axis=1)
x_y_data

             x          y  ...  target_north_lat  target_south_lat
0   127.399083  36.420188  ...         36.421138         36.419592
1   127.396962  36.419159  ...         36.419470         36.418028
2   127.387112  36.425201  ...         36.426306         36.424554
3   127.384448  36.423709  ...         36.424555         36.422552
4   127.396717  36.417635  ...         36.418697         36.417402
5   127.396493  36.416300  ...         36.417276         36.415929
6   127.381274  36.420259  ...         36.420777         36.418688
7   127.381899  36.432853  ...         36.434113         36.429556
8   127.384333  36.436759  ...         36.436958         36.436086
9   127.386705  36.420242  ...         36.421865         36.418498
10  127.385216  36.419541  ...         36.419947         36.418470
11  127.392178  36.417657  ...         36.419004         36.416690
12  127.393537  36.419331  ...         36.420022         36.418165
13  127.391188  36.420211  ...         36.420634         36.418070
14  127.386147  36.421753  ...         36.422478         36.420044
15  127.383162  36.436780  ...         36.438023         36.433448
16  127.382459  36.438254  ...         36.440161         36.437891
17  127.384525  36.430830  ...         36.431132         36.428551
18  127.384659  36.432308  ...         36.432584         36.431341
19  127.383408  36.422605  ...         36.423296         36.420317
20  127.387256  36.422579  ...         36.423434         36.421914
21  127.390725  36.422471  ...         36.421849         36.420019

[22 rows x 6 columns]

In [211]:
train_train,test_test=train_test_split(x_y_data,test_size=0.2,random_state=42)

In [212]:
train_train

             x          y  ...  target_north_lat  target_south_lat
5   127.396493  36.416300  ...         36.417276         36.415929
20  127.387256  36.422579  ...         36.423434         36.421914
11  127.392178  36.417657  ...         36.419004         36.416690
3   127.384448  36.423709  ...         36.424555         36.422552
4   127.396717  36.417635  ...         36.418697         36.417402
17  127.384525  36.430830  ...         36.431132         36.428551
12  127.393537  36.419331  ...         36.420022         36.418165
18  127.384659  36.432308  ...         36.432584         36.431341
16  127.382459  36.438254  ...         36.440161         36.437891
2   127.387112  36.425201  ...         36.426306         36.424554
9   127.386705  36.420242  ...         36.421865         36.418498
21  127.390725  36.422471  ...         36.421849         36.420019
7   127.381899  36.432853  ...         36.434113         36.429556
10  127.385216  36.419541  ...         36.419947         36.418470
14  127.386147  36.421753  ...         36.422478         36.420044
19  127.383408  36.422605  ...         36.423296         36.420317
6   127.381274  36.420259  ...         36.420777         36.418688

[17 rows x 6 columns]

In [213]:
test_test

             x          y  ...  target_north_lat  target_south_lat
0   127.399083  36.420188  ...         36.421138         36.419592
13  127.391188  36.420211  ...         36.420634         36.418070
8   127.384333  36.436759  ...         36.436958         36.436086
1   127.396962  36.419159  ...         36.419470         36.418028
15  127.383162  36.436780  ...         36.438023         36.433448

[5 rows x 6 columns]

In [214]:
train_train_x=train_train[['x','y']]
train_train_y=train_train.drop(['x','y'],axis=1)
test_test_x=test_test[['x','y']]
test_test_y=test_test.drop(['x','y'],axis=1)

In [215]:
z_scaler=StandardScaler()
z_scaler.fit(train_train_x)
train_x_z=z_scaler.transform(train_train_x)
test_x_z=z_scaler.transform(test_test_x)

In [216]:
train_x_z=pd.DataFrame(train_x_z)
train_x_z.columns=['x','y']
train_x_z

           x         y
0   1.934881 -1.232697
1  -0.017481 -0.191933
2   1.022849 -1.007770
3  -0.610989 -0.004631
4   1.982227 -1.011417
5  -0.594714  1.175698
6   1.310092 -0.730299
7  -0.566391  1.420681
8  -1.031390  2.406250
9  -0.047917  0.242673
10 -0.133942 -0.579298
11  0.715738 -0.209834
12 -1.149754  1.511017
13 -0.448662 -0.695491
14 -0.251883 -0.328845
15 -0.830807 -0.187623
16 -1.281856 -0.576480

In [217]:
test_x_z=pd.DataFrame(test_x_z)
test_x_z.columns=['x','y']
test_x_z

          x         y
0  2.482312 -0.588249
1  0.813599 -0.584436
2 -0.635296  2.158449
3  2.034011 -0.758809
4 -0.882802  2.161930

In [218]:
model1=LinearRegression()
model1.fit(train_x_z,train_train_y['target_west_log'])
mse_west_west=mean_squared_error(train_train_y['target_west_log'],model1.predict(train_x_z))
print(np.sqrt(mse_west_west))
print(model1.score(train_x_z,train_train_y['target_west_log']))

0.0005368787822347186
0.9864046370344858

In [219]:
model2=LinearRegression()
model2.fit(train_x_z,train_train_y['target_east_log'])
mse_east_east=mean_squared_error(train_train_y['target_east_log'],model2.predict(train_x_z))
print(np.sqrt(mse_east_east))
print(model2.score(train_x_z,train_train_y['target_east_log']))

0.0009603861107806659
0.9629602774821164

In [220]:
model3=LinearRegression()
model3.fit(train_x_z,train_train_y['target_north_lat'])
mse_north_north=mean_squared_error(train_train_y['target_north_lat'],model3.predict(train_x_z))
print(np.sqrt(mse_north_north))
print(model3.score(train_x_z,train_train_y['target_north_lat']))

0.0005559417216324765
0.9918104245192252

In [221]:
model4=LinearRegression()
model4.fit(train_x_z,train_train_y['target_south_lat'])
mse_south_south=mean_squared_error(train_train_y['target_south_lat'],model4.predict(train_x_z))
print(np.sqrt(mse_south_south))
print(model4.score(train_x_z,train_train_y['target_south_lat']))

0.0007341685438353645
0.9845023128031302

In [222]:
mse_w=mean_squared_error(test_test_y['target_west_log'],model1.predict(test_test_x))
mse_e=mean_squared_error(test_test_y['target_east_log'],model2.predict(test_test_x))
mse_n=mean_squared_error(test_test_y['target_north_lat'],model3.predict(test_test_x))
mse_s=mean_squared_error(test_test_y['target_south_lat'],model4.predict(test_test_x))

print(np.sqrt(mse_w))
print(np.sqrt(mse_e))
print(np.sqrt(mse_n))
print(np.sqrt(mse_s))

0.5820612745727012
0.6657761068346207
0.22931597799733133
0.27560066190391935

In [228]:
print(regression3.predict(test_x)[:5])
print(test_y['target_south_lat'][:5])

[36.42105059 36.42222715 36.41824764 36.43046362 36.41787234]
599    36.420044
896    36.421914
495    36.418070
771    36.428551
478    36.418165
Name: target_south_lat, dtype: float64