<a href="https://colab.research.google.com/github/Ash-Stat/An-Si-Hyun/blob/data/%EC%A7%81%EA%B5%90%EB%B0%B0%EC%97%B4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
import pandas as pd
crime=pd.read_csv('./범죄자.csv')
crime

     범죄별(1)                   범죄별(2)  범죄별(3)  ... 2018.19 2018.20 2018.21
0    범죄별(1)                   범죄별(2)  범죄별(3)  ...     부주의      기타      미상
1    범죄별(1)                   범죄별(2)  범죄별(3)  ...      소계      소계      소계
2        합계                       소계      소계  ...  198468  395225  693485
3       형법범                       소계      소계  ...   23778  181080  393488
4       형법범                     재산범죄      소계  ...   11702   85777  176984
..      ...                      ...     ...  ...     ...     ...     ...
170    특별법범               화물자동차운수사업법      소계  ...     372    1572     487
171    특별법범      화재로인한재해보상과보험가입에관한법률      소계  ...       -       -       1
172    특별법범  화재예방·소방시설설치유지및안전관리에관한법률      소계  ...      28      53     388
173    특별법범                  화학물질관리법      소계  ...      14     123     277
174    특별법범                    기타특별법      소계  ...   11580   18129   12900

[175 rows x 25 columns]

In [10]:
crime=crime.iloc[130]
crime

범죄별(1)                      특별법범
범죄별(2)     아동·청소년의성보호에관한법률(음란물등)
범죄별(3)                        소계
2018                         909
2018.1                       110
2018.2                        39
2018.3                         8
2018.4                         -
2018.5                         -
2018.6                         -
2018.7                        63
2018.8                         4
2018.9                         -
2018.10                        -
2018.11                        -
2018.12                        -
2018.13                        -
2018.14                        -
2018.15                      374
2018.16                       38
2018.17                       32
2018.18                        -
2018.19                       57
2018.20                      174
2018.21                      120
Name: 130, dtype: object

In [17]:
crim_sum=crime.iloc[2]
crim_sum
#2,3,7,8,15,17,21

범죄별(1)          합계
범죄별(2)          소계
범죄별(3)          소계
2018       1749459
2018.1      139967
2018.2       52381
2018.3        3935
2018.4        1890
2018.5         367
2018.6        1274
2018.7       80120
2018.8       17074
2018.9         361
2018.10        148
2018.11          8
2018.12         14
2018.13        191
2018.14      20340
2018.15       9418
2018.16       6848
2018.17     262269
2018.18       6004
2018.19     198468
2018.20     395225
2018.21     693485
Name: 2, dtype: object

In [18]:
#52381 - 생활비  ->
#3935 - 유흥비
#80120 - 기타
#17074 - 사행심
#호기심 - 9418
#262269 - 우발적
#693485 - 미상
#198468 - 부주의
print('생활비 비율 :',39/52381 )
print('유흥비 비율 :',8/3935 )
print('기타 비율 :',63/80120 )
print('사행심 비율 :',4/17074 )
print('호기심 비율 :',374/9418 )
print('우발적 비율 :',32/262269 )
print('미상 비율 :',120/693485 )
print('부주의 비율 :',57/198468 )

생활비 비율 : 0.0007445447776865657
유흥비 비율 : 0.0020330368487928843
기타 비율 : 0.0007863205192211682
사행심 비율 : 0.00023427433524657375
호기심 비율 : 0.039711191335740074
우발적 비율 : 0.00012201213258143357
미상 비율 : 0.00017303907078018992
부주의 비율 : 0.00028719995162948184

In [20]:
joker=pd.read_csv('./범죄데이터셋.csv')
joker=joker.drop(['Unnamed: 0'],axis=1)
joker

    생활비마련  유흥비마련  호기심  우발적  부주의  사행심  기타  미상  동기별비율(평균값)
0       1      1    1    1    1    1   1   1    0.005511
1       1      1    1    1    1    1   1   1    0.005511
2       1      1    1    1    1    1   1   1    0.005511
3       1      1    1    1    1    1   1   1    0.005511
4       1      1    1    1    1    0   1   1    0.006265
5       1      1    1    1    1    0   1   1    0.006265
6       1      1    1    1    1    0   1   1    0.006265
7       1      1    1    1    1    0   1   1    0.006265
8       1      0    1    1    1    0   1   1    0.006971
9       1      0    1    1    1    0   1   1    0.006971
10      1      0    1    1    1    0   1   1    0.006971
11      1      0    1    1    1    0   1   1    0.006971
12      1      0    1    1    1    0   1   1    0.006971
13      1      0    1    1    1    0   1   1    0.006971
14      1      0    1    1    1    0   1   1    0.006971
15      1      0    1    1    1    0   1   1    0.006971
16      1      0    1    1    1    0   1   1    0.006971
17      1      0    1    1    1    0   1   1    0.006971
18      1      0    1    1    1    0   1   1    0.006971
19      1      0    1    1    1    0   1   1    0.006971
20      1      0    1    1    1    0   1   1    0.006971
21      1      0    1    1    1    0   1   1    0.006971
22      1      0    1    1    1    0   1   1    0.006971
23      1      0    1    1    1    0   1   1    0.006971
24      1      0    1    1    1    0   1   1    0.006971
25      1      0    1    1    1    0   1   1    0.006971
26      1      0    1    1    1    0   1   1    0.006971
27      1      0    1    1    1    0   1   1    0.006971
28      1      0    1    1    1    0   1   1    0.006971
29      1      0    1    1    1    0   1   1    0.006971
30      1      0    1    1    1    0   1   1    0.006971
31      1      0    1    1    1    0   1   1    0.006971
32      1      0    1    0    1    0   1   1    0.008340
33      1      0    1    0    1    0   1   1    0.008340
34      1      0    1    0    1    0   1   1    0.008340
35      1      0    1    0    1    0   1   1    0.008340
36      1      0    1    0    1    0   1   1    0.008340
37      1      0    1    0    1    0   1   1    0.008340
38      1      0    1    0    1    0   1   1    0.008340
39      0      0    1    0    1    0   1   1    0.010239

In [21]:
#같은걸 하나로두면 독립성 유지->
joker=joker.drop_duplicates()
joker #독립성유지되는지 상관성 분석

#관련 로스함수 논문

    생활비마련  유흥비마련  호기심  우발적  부주의  사행심  기타  미상  동기별비율(평균값)
0       1      1    1    1    1    1   1   1    0.005511
4       1      1    1    1    1    0   1   1    0.006265
8       1      0    1    1    1    0   1   1    0.006971
32      1      0    1    0    1    0   1   1    0.008340
39      0      0    1    0    1    0   1   1    0.010239

In [51]:
orthogonal=pd.read_csv('./직교2.csv')
orthogonal=orthogonal.drop([5,6,7,8,9],axis=0)
orthogonal=orthogonal.drop(['Unnamed: 0','Unnamed: 9','Unnamed: 10','생활비마련.1','유흥비마련.1','호기심.1','우발적.1','부주의.1','사행심.1','기타.1','미상.1'],axis=1)
orthogonal

   생활비마련  유흥비마련  호기심  우발적  부주의  사행심        기타        미상
0    1.0    1.0  1.0  1.0  1.0  1.0  0.006274  0.006310
1    1.0    1.0  1.0  1.0  1.0  0.0  0.006690  0.007294
2    1.0    0.0  1.0  1.0  1.0  0.0  0.006388  0.006125
3    1.0    0.0  1.0  0.0  1.0  0.0  0.005933  0.005845
4    0.0    0.0  1.0  0.0  1.0  0.0  0.005826  0.005739

In [52]:
#sn비 계산
num=[1,2,3,4,5]
num=str(num)
sn=pd.DataFrame()
for x,y in zip(orthogonal['기타'],orthogonal['미상']):
  c=pd.DataFrame([-10*np.log((x*x+y*y)/2)])
  sn=pd.concat([sn,c],axis=0)
  print(-10*np.log((x*x+y*y)/2))

101.36919933849262
99.24141912381768
101.47938319512983
102.69301496533097
103.05752754031509

In [54]:
import numpy as np
sn.index=orthogonal.index
sn

            0
0  101.369199
1   99.241419
2  101.479383
3  102.693015
4  103.057528

In [55]:
orthogonal=pd.concat([orthogonal,sn],axis=1)
orthogonal

   생활비마련  유흥비마련  호기심  우발적  부주의  사행심        기타        미상           0
0    1.0    1.0  1.0  1.0  1.0  1.0  0.006274  0.006310  101.369199
1    1.0    1.0  1.0  1.0  1.0  0.0  0.006690  0.007294   99.241419
2    1.0    0.0  1.0  1.0  1.0  0.0  0.006388  0.006125  101.479383
3    1.0    0.0  1.0  0.0  1.0  0.0  0.005933  0.005845  102.693015
4    0.0    0.0  1.0  0.0  1.0  0.0  0.005826  0.005739  103.057528

In [ ]:
#데이터셋만들고, 아노바분석 해오고 
#시각화할만한거 해오고
#코딩 정리 한번에 깔끔하게
#도수 바꿔가면서 해오기



5