<a href="https://colab.research.google.com/github/Ash-Stat/An-Si-Hyun/blob/data/%ED%85%80%ED%94%842%ED%83%84.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [94]:
import pandas as pd
student=pd.read_csv('./student-mat.csv')
student1=pd.read_csv('./student-por.csv')
student=pd.concat([student,student1],axis=0)
student

    school sex  age address famsize Pstatus  ...  Walc  health absences  G1  G2  G3
0       GP   F   18       U     GT3       A  ...     1       3        6   5   6   6
1       GP   F   17       U     GT3       T  ...     1       3        4   5   5   6
2       GP   F   15       U     LE3       T  ...     3       3       10   7   8  10
3       GP   F   15       U     GT3       T  ...     1       5        2  15  14  15
4       GP   F   16       U     GT3       T  ...     2       5        4   6  10  10
..     ...  ..  ...     ...     ...     ...  ...   ...     ...      ...  ..  ..  ..
644     MS   F   19       R     GT3       T  ...     2       5        4  10  11  10
645     MS   F   18       U     LE3       T  ...     1       1        4  15  15  16
646     MS   F   18       U     GT3       T  ...     1       5        6  11  12   9
647     MS   M   17       U     LE3       T  ...     4       2        6  10  10  10
648     MS   M   18       R     LE3       T  ...     4       5        4  10  11  11

[1044 rows x 33 columns]

In [95]:
student=student[['studytime','goout','Fjob','famsup','schoolsup','sex','Pstatus','Walc']]
student

     studytime  goout      Fjob famsup schoolsup sex Pstatus  Walc
0            2      4   teacher     no       yes   F       A     1
1            2      3     other    yes        no   F       T     1
2            2      2     other     no       yes   F       T     3
3            3      2  services    yes        no   F       T     1
4            2      2     other    yes        no   F       T     2
..         ...    ...       ...    ...       ...  ..     ...   ...
644          3      2     other     no        no   F       T     2
645          2      4  services    yes        no   F       T     1
646          2      1     other     no        no   F       T     1
647          1      5  services     no        no   M       T     4
648          1      1     other     no        no   M       T     4

[1044 rows x 8 columns]

In [96]:
import random
sample_data=student.drop_duplicates()
sample_data

     studytime  goout      Fjob famsup schoolsup sex Pstatus  Walc
0            2      4   teacher     no       yes   F       A     1
1            2      3     other    yes        no   F       T     1
2            2      2     other     no       yes   F       T     3
3            3      2  services    yes        no   F       T     1
4            2      2     other    yes        no   F       T     2
..         ...    ...       ...    ...       ...  ..     ...   ...
606          4      3     other     no        no   F       T     1
608          2      3  services     no        no   F       A     2
609          2      1   at_home    yes        no   F       T     1
610          2      4   at_home    yes        no   F       A     4
611          3      1     other     no        no   F       T     1

[457 rows x 8 columns]

In [104]:
sample_data=sample_data.replace('other',1)
sample_data=sample_data.replace('services',2)
sample_data=sample_data.replace('at_home',3)
sample_data=sample_data.replace('teacher',4)
sample_data=sample_data.replace('health',5)
sample_data=sample_data.replace('yes',1)
sample_data=sample_data.replace('no',2)
sample_data=sample_data.replace('M',1)
sample_data=sample_data.replace('F',2)
sample_data=sample_data.replace('T',1)
sample_data=sample_data.replace('A',2)

student=student.replace('other',1)
student=student.replace('services',2)
student=student.replace('at_home',3)
student=student.replace('teacher',4)
student=student.replace('health',5)

student=student.replace('yes',1)
student=student.replace('no',2)
student=student.replace('M',1)
student=student.replace('F',2)
student=student.replace('T',1)
student=student.replace('A',2)

sample_data=sample_data.drop_duplicates()
sample_data.to_excel('./sampledata.xlsx')

In [98]:
sample_data_x=sample_data.drop(['Walc'],axis=1)
sample_data_x

     studytime  goout  Fjob  famsup  schoolsup  sex  Pstatus
0            2      4     4       2          1    2        2
1            2      3     1       1          2    2        1
2            2      2     1       2          1    2        1
3            3      2     2       1          2    2        1
4            2      2     1       1          2    2        1
..         ...    ...   ...     ...        ...  ...      ...
606          4      3     1       2          2    2        1
608          2      3     2       2          2    2        2
609          2      1     3       1          2    2        1
610          2      4     3       1          2    2        2
611          3      1     1       2          2    2        1

[457 rows x 7 columns]

In [111]:
import pandas as pd
studytime=sample_data['studytime']
goout=sample_data['goout']
Fjob=sample_data['Fjob']
famsup=sample_data['famsup']
schoolsup=sample_data['schoolsup']
sex=sample_data['sex']
Pstatus=sample_data['Pstatus']
Walc=sample_data['Walc']

study=student['studytime']
go=student['goout']
F=student['Fjob']
fam=student['famsup']
school=student['schoolsup']
se=student['sex']
Ps=student['Pstatus']
Wal=student['Walc']
empty=pd.DataFrame()
for a,b,c,d,e,f,g in zip(studytime,goout,Fjob,famsup,schoolsup,sex,Pstatus):
  for h,i,j,k,l,m,n,z in zip(study,go,F,fam,school,se,Ps,Wal):
    if a==h and b == i and c == j and d ==k and e ==l and f == m and g ==n:
      print(a,b,c,d,e,f,g,z)
      aa=pd.DataFrame([a])
      bb=pd.DataFrame([b])
      cc=pd.DataFrame([c])
      dd=pd.DataFrame([d])
      ee=pd.DataFrame([e])
      ff=pd.DataFrame([f])
      gg=pd.DataFrame([g])
      zz=pd.DataFrame([z])
      ss=pd.concat([aa,bb,cc,dd,ee,ff,gg,zz],axis=1)
      empty=pd.concat([empty,ss],axis=0)
print(empty)    
    # if a==h and b ==i and c== j and d==k and e==l and f ==m and g == n:
    #   print(a,b,c,d,e,f,g,z)

2 4 4 2 1 2 2 1
2 4 4 2 1 2 2 1
2 3 1 1 2 2 1 1
2 3 1 1 2 2 1 2
2 3 1 1 2 2 1 1
2 3 1 1 2 2 1 1
2 3 1 1 2 2 1 2
2 3 1 1 2 2 1 3
2 3 1 1 2 2 1 1
2 3 1 1 2 2 1 2
2 3 1 1 2 2 1 1
2 3 1 1 2 2 1 2
2 3 1 1 2 2 1 1
2 3 1 1 2 2 1 1
2 3 1 1 2 2 1 2
2 3 1 1 2 2 1 1
2 3 1 1 2 2 1 3
2 3 1 1 2 2 1 2
2 3 1 1 2 2 1 1
2 3 1 1 2 2 1 2
2 3 1 1 2 2 1 1
2 3 1 1 2 2 1 1
2 3 1 1 2 2 1 2
2 3 1 1 2 2 1 1
2 2 1 2 1 2 1 3
2 2 1 2 1 2 1 1
2 2 1 2 1 2 1 3
2 2 1 2 1 2 1 1
2 2 1 2 1 2 1 1
3 2 2 1 2 2 1 1
3 2 2 1 2 2 1 1
3 2 2 1 2 2 1 1
3 2 2 1 2 2 1 2
3 2 2 1 2 2 1 2
3 2 2 1 2 2 1 1
3 2 2 1 2 2 1 1
3 2 2 1 2 2 1 1
3 2 2 1 2 2 1 2
3 2 2 1 2 2 1 2
3 2 2 1 2 2 1 2
3 2 2 1 2 2 1 2
3 2 2 1 2 2 1 1
2 2 1 1 2 2 1 2
2 2 1 1 2 2 1 3
2 2 1 1 2 2 1 1
2 2 1 1 2 2 1 1
2 2 1 1 2 2 1 2
2 2 1 1 2 2 1 3
2 2 1 1 2 2 1 2
2 2 1 1 2 2 1 1
2 2 1 1 2 2 1 3
2 2 1 1 2 2 1 2
2 2 1 1 2 2 1 3
2 2 1 1 2 2 1 1
2 2 1 1 2 2 1 1
2 2 1 1 2 2 1 2
2 2 1 1 2 2 1 3
2 2 1 1 2 2 1 1
2 2 1 1 2 2 1 3
2 2 1 1 2 2 1 1
2 2 1 1 2 2 1 2
2 2 1 1 2 2 1 1
2 2 1 1 2 2 1 1
2 2 1 1 2 2 1 1
2 2 1 1 2 2 1 3
2 2 1 1 2 1 1 2
2 2 1 1 2 1 1 1
2 2 1 1 2 1 1 1
2 2 1 1 2 1 1 1
2 2 1 1 2 1 1 1
2 2 1 1 2 1 1 4
2 2 1 1 2 1 1 2
2 2 1 1 2 1 1 1
2 2 1 1 2 1 1 1
2 2 1 1 2 1 1 1
2 2 1 1 2 1 1 1
2 2 1 1 2 1 1 4
2 2 1 1 2 1 1 2
2 4 1 2 2 1 1 1
2 4 1 2 2 1 1 3
2 4 1 2 2 1 1 4
2 4 1 2 2 1 1 4
2 4 1 2 2 1 1 2
2 4 1 2 2 1 1 4
2 4 1 2 2 1 1 1
2 4 1 2 2 1 1 3
2 4 1 2 2 1 1 4
2 4 1 2 2 1 1 4
2 4 1 2 2 1 1 2
2 4 1 2 2 1 1 4
2 4 4 1 1 2 2 1
2 4 4 1 1 2 2 1
2 2 1 1 2 1 2 1
2 2 1 1 2 1 2 1
2 2 1 1 2 1 2 3
2 1 1 1 2 1 1 1
2 1 1 1 2 1 1 1
2 3 5 1 2 2 1 2
2 3 5 1 2 2 1 1
2 3 5 1 2 2 1 2
2 3 5 1 2 2 1 1
3 2 1 1 2 2 1 1
3 2 1 1 2 2 1 1
3 2 1 1 2 2 1 1
3 2 1 1 2 2 1 1
3 2 1 1 2 2 1 3
1 3 2 1 2 1 1 3
1 3 2 1 2 1 1 2
1 3 2 1 2 1 1 4
1 3 2 1 2 1 1 2
1 3 2 1 2 1 1 3
1 3 2 1 2 1 1 3
1 3 2 1 2 1 1 2
1 3 2 1 2 1 1 4
1 3 2 1 2 1 1 2
1 3 2 1 2 1 1 3
1 3 2 1 2 1 1 3
1 3 2 1 2 1 1 4
1 3 2 1 2 1 1 4
1 3 2 1 2 1 1 3
2 3 1 1 2 1 1 2
2 3 1 1 2 1 1 2
2 3 1 1 2 1 1 3
2 3 1 1 2 1 1 1
2 3 1 1 2 1 1 3
2 3 1 1 2 1 1 5
2 3 1 1 2 1 1 2
2 3 1 1 2 1 1 2
2 3 1 1 2 1 1 3
2 3 1 1 2 1 1 1
2 3 1 1 2 1 1 3
2 3 1 1 2 1 1 5
2 3 1 1 2 1 1 2
2 3 1 1 2 1 1 4
3 2 1 1 2 1 2 1
3 2 1 1 2 1 2 1
3 2 1 1 2 1 2 2
1 4 1 1 2 2 1 2
1 4 1 1 2 2 1 3
1 4 1 1 2 2 1 2
1 4 1 1 2 2 1 3
1 4 1 1 2 2 1 1
1 4 1 1 2 2 1 3
1 4 1 1 2 2 1 2
3 3 2 1 2 2 1 2
3 3 2 1 2 2 1 4
3 3 2 1 2 2 1 1
3 3 2 1 2 2 1 3
3 3 2 1 2 2 1 2
3 3 2 1 2 2 1 4
3 3 2 1 2 2 1 1
3 3 2 1 2 2 1 1
3 3 2 1 2 2 1 3
3 3 2 1 2 2 1 1
2 2 1 1 1 2 1 1
2 2 1 1 1 2 1 1
2 2 1 1 1 2 1 3
1 5 2 1 2 1 1 4
1 5 2 1 2 1 1 4
1 5 2 1 2 1 1 5
1 5 2 1 2 1 1 3
1 5 2 1 2 1 1 1
1 3 1 2 2 1 1 3
1 3 1 2 2 1 1 2
1 3 1 2 2 1 1 1
1 3 1 2 2 1 1 1
1 3 1 2 2 1 1 3
1 3 1 2 2 1 1 3
1 3 1 2 2 1 1 3
1 3 1 2 2 1 1 3
1 3 1 2 2 1 1 2
1 3 1 2 2 1 1 1
1 3 1 2 2 1 1 1
1 3 1 2 2 1 1 2
1 3 1 2 2 1 1 4
1 3 1 2 2 1 1 3
1 3 1 2 2 1 1 3
1 3 1 2 2 1 1 3
1 3 1 2 2 1 1 3
2 1 1 2 2 1 1 1
2 1 1 2 2 1 1 3
2 1 1 2 2 1 1 1
2 1 1 2 2 1 1 3
1 2 5 1 2 1 1 1
1 2 5 1 2 1 1 1
1 2 5 1 2 1 1 5
2 1 1 2 2 1 1 1
2 1 1 2 2 1 1 3
2 1 1 2 2 1 1 1
2 1 1 2 2 1 1 3
2 4 1 1 2 1 1 4
2 4 1 1 2 1 1 4
2 4 1 1 2 1 1 3
2 4 1 1 2 1 1 4
2 4 1 1 2 1 1 4
2 4 1 1 2 1 1 1
2 4 1 1 2 1 1 3
2 4 1 1 2 1 1 4
2 4 1 1 2 1 1 4
2 4 1 1 2 1 1 4
2 4 1 1 2 1 1 3
2 4 1 1 2 1 1 4
2 4 1 1 2 1 1 4
2 4 1 1 2 1 1 1
2 4 1 1 2 1 1 4
2 4 1 1 2 1 1 3
2 4 1 1 2 1 1 4
3 2 5 1 1 2 1 1
3 2 5 1 1 2 1 1
3 2 5 1 1 2 1 1
3 2 5 1 1 2 1 1
1 2 2 1 2 2 1 3
1 2 2 1 2 2 1 3
1 2 1 1 2 1 1 2
1 2 1 1 2 1 1 2
1 4 2 2 2 1 1 4
1 4 2 2 2 1 1 4
1 4 2 2 2 1 1 4
1 4 2 2 2 1 1 5
1 4 2 2 2 1 1 4
2 3 1 1 1 1 2 1
2 3 1 1 1 1 2 1
2 5 4 1 2 1 1 5
2 5 4 1 2 1 1 5
2 2 2 1 2 1 1 4
2 2 2 1 2 1 1 4
2 1 2 1 2 1 1 1
2 1 2 1 2 1 1 1
2 2 3 1 2 1 1 1
2 2 3 1 2 1 1 2
2 2 3 1 2 1 1 1
2 2 3 1 2 1 1 2
2 2 1 2 2 1 1 1
2 2 1 2 2 1 1 1
2 2 1 2 2 1 1 5
2 2 1 2 2 1 1 1
2 2 1 2 2 1 1 1
2 2 1 2 2 1 1 5
1 3 1 1 2 1 1 1
1 3 1 1 2 1 1 4
1 3 1 1 2 1 1 1
1 3 1 1 2 1 1 2
1 3 1 1 2 1 1 3
1 3 1 1 2 1 1 1
1 3 1 1 2 1 1 4
1 3 1 1 2 1 1 1
1 3 1 1 2 1 1 3
1 3 1 1 2 1 1 3
1 3 1 1 2 1 1 4
1 1 1 1 2 2 1 1
1 1 1 1 2 2 1 2
1 1 1 1 2 2 1 1
1 1 1 1 2 2 1 2
1 1 1 1 2 2 1 3
3 3 2 1 2 1 1 1
3 3 2 1 2 1 1 1
3 3 2 1 2 1 1 3
3 3 2 1 2 1 1 2
3 3 4 1 2 1 2 1
3 3 4 1 2 1 2 1
1 1 1 1 1 2 1 1
1 1 1 1 1 2 1 1
2 3 1 1 2 2 1 1
2 3 1 1 2 2 1 2
2 3 1 1 2 2 1 1
2 3 1 1 2 2 1 1
2 3 1 1 2 2 1 2
2 3 1 1 2 2 1 3
2 3 1 1 2 2 1 1
2 3 1 1 2 2 1 2
2 3 1 1 2 2 1 1
2 3 1 1 2 2 1 2
2 3 1 1 2 2 1 1
2 3 1 1 2 2 1 1
2 3 1 1 2 2 1 2
2 3 1 1 2 2 1 1
2 3 1 1 2 2 1 3
2 3 1 1 2 2 1 2
2 3 1 1 2 2 1 1
2 3 1 1 2 2 1 2
2 3 1 1 2 2 1 1
2 3 1 1 2 2 1 1
2 3 1 1 2 2 1 2
2 3 1 1 2 2 1 1
1 3 1 1 2 1 1 1
1 3 1 1 2 1 1 4
1 3 1 1 2 1 1 1
1 3 1 1 2 1 1 2
1 3 1 1 2 1 1 3
1 3 1 1 2 1 1 1
1 3 1 1 2 1 1 4
1 3 1 1 2 1 1 1
1 3 1 1 2 1 1 3
1 3 1 1 2 1 1 3
1 3 1 1 2 1 1 4
2 3 4 1 2 1 1 1
2 3 4 1 2 1 1 1
2 3 4 1 2 1 1 1
2 3 4 1 2 1 1 1
2 3 4 1 2 1 1 1
2 3 4 1 2 1 1 1
1 1 2 1 1 1 1 1
1 1 2 1 1 1 1 1
2 3 3 2 1 2 1 2
2 3 3 2 1 2 1 2
2 2 1 1 1 2 2 1
2 2 1 1 1 2 2 1
2 5 2 1 2 2 2 4
2 5 2 1 2 2 2 4
4 2 2 2 2 1 1 1
4 2 2 2 2 1 1 1
2 4 4 1 1 2 1 1
2 4 4 1 1 2 1 1
2 4 4 1 1 2 1 2
2 3 2 1 2 2 1 3
2 3 2 1 2 2 1 2
2 3 2 1 2 2 1 1
2 3 2 1 2 2 1 2
2 3 2 1 2 2 1 3
2 3 2 1 2 2 1 2
2 3 2 1 2 2 1 1
2 3 2 1 2 2 1 1
2 3 2 1 2 2 1 2
2 3 2 1 2 2 1 1
2 3 2 1 2 2 1 1
2 3 2 1 2 2 1 2
2 3 2 1 2 2 1 2
1 5 5 2 2 1 2 4
1 5 5 2 2 1 2 4
1 4 2 1 1 2 1 3
1 4 2 1 1 2 1 3
1 4 1 2 2 2 2 4
1 4 1 2 2 2 2 4
1 4 1 2 2 2 2 1
2 4 1 2 2 2 2 1
2 4 1 2 2 2 2 4
2 4 1 2 2 2 2 1
2 4 1 2 2 2 2 4
2 2 2 1 2 2 2 1
2 2 2 1 2 2 2 2
2 2 2 1 2 2 2 1
2 2 2 1 2 2 2 2
2 2 2 1 2 2 2 3
2 2 5 1 2 1 1 1
2 2 5 1 2 1 1 1
2 2 3 1 1 1 1 1
2 2 3 1 1 1 1 1
2 4 4 1 2 2 1 3
2 4 4 1 2 2 1 3
1 5 2 1 1 2 1 5
1 5 2 1 1 2 1 5
2 3 2 2 1 2 1 1
2 3 2 2 1 2 1 1
3 4 5 1 1 2 1 4
3 4 5 1 1 2 1 4
2 4 2 2 1 2 1 4
2 4 2 2 1 2 1 4
2 3 2 1 2 2 1 3
2 3 2 1 2 2 1 2
2 3 2 1 2 2 1 1
2 3 2 1 2 2 1 2
2 3 2 1 2 2 1 3
2 3 2 1 2 2 1 2
2 3 2 1 2 2 1 1
2 3 2 1 2 2 1 1
2 3 2 1 2 2 1 2
2 3 2 1 2 2 1 1
2 3 2 1 2 2 1 1
2 3 2 1 2 2 1 2
2 3 2 1 2 2 1 2
4 3 2 1 2 1 2 5
4 3 2 1 2 1 2 5
4 3 1 1 1 2 1 2
4 3 1 1 1 2 1 2
2 3 2 1 1 2 1 3
2 3 2 1 1 2 1 4
2 3 2 1 1 2 1 3
2 3 2 1 1 2 1 4
2 3 2 1 1 2 1 3
4 2 1 1 2 2 1 3
4 2 1 1 2 2 1 1
4 2 1 1 2 2 1 1
4 2 1 1 2 2 1 3
4 2 1 1 2 2 1 1
4 2 1 1 2 2 1 1
4 2 1 1 2 2 1 1
4 2 1 1 2 1 1 1
4 2 1 1 2 1 1 1
4 3 1 2 2 1 1 1
4 3 1 2 2 1 1 1
4 3 1 2 2 1 1 1
4 3 1 2 2 1 1 1
2 4 1 1 1 2 1 4
2 4 1 1 1 2 1 3
2 4 1 1 1 2 1 4
2 4 1 1 1 2 1 3
1 2 1 2 2 1 1 2
1 2 1 2 2 1 1 1
1 2 1 2 2 1 1 3
1 2 1 2 2 1 1 2
1 2 1 2 2 1 1 2
1 2 1 2 2 1 1 1
1 2 1 2 2 1 1 4
1 2 1 2 2 1 1 3
1 2 1 2 2 1 1 4
1 2 1 2 2 1 1 2
1 2 1 2 2 1 1 1
1 2 1 2 2 1 1 3
1 2 1 2 2 1 1 2
1 2 1 2 2 1 1 2
1 2 1 2 2 1 1 1
1 2 1 2 2 1 1 4
1 2 1 2 2 1 1 3
1 2 1 2 2 1 1 4
1 2 1 2 2 1 1 2
1 2 1 2 2 1 1 3
2 3 2 1 1 2 1 3
2 3 2 1 1 2 1 4
2 3 2 1 1 2 1 3
2 3 2 1 1 2 1 4
2 3 2 1 1 2 1 3
2 3 1 1 2 1 1 2
2 3 1 1 2 1 1 2
2 3 1 1 2 1 1 3
2 3 1 1 2 1 1 1
2 3 1 1 2 1 1 3
2 3 1 1 2 1 1 5
2 3 1 1 2 1 1 2
2 3 1 1 2 1 1 2
2 3 1 1 2 1 1 3
2 3 1 1 2 1 1 1
2 3 1 1 2 1 1 3
2 3 1 1 2 1 1 5
2 3 1 1 2 1 1 2
2 3 1 1 2 1 1 4
4 3 1 2 2 2 1 3
4 3 1 2 2 2 1 3
4 3 1 2 2 2 1 1
1 1 1 1 1 1 1 1
1 1 1 1 1 1 1 1
1 2 2 1 1 1 1 3
1 2 2 1 1 1 1 3
3 2 1 2 1 1 1 2
3 2 1 2 1 1 1 2
2 4 1 1 2 2 1 1
2 4 1 1 2 2 1 2
2 4 1 1 2 2 1 3
2 4 1 1 2 2 1 3
2 4 1 1 2 2 1 3
2 4 1 1 2 2 1 3
2 4 1 1 2 2 1 1
2 4 1 1 2 2 1 2
2 4 1 1 2 2 1 3
2 4 1 1 2 2 1 3
2 4 1 1 2 2 1 1
2 4 1 1 2 2 1 3
2 4 1 1 2 2 1 2
2 4 1 1 2 2 1 1
2 4 1 1 2 2 1 3
2 4 1 1 2 2 1 1
2 4 1 1 2 2 1 3
2 4 1 1 2 2 1 1
2 4 1 1 2 2 1 2
2 4 1 1 2 2 1 1
2 4 1 1 2 2 1 3
2 3 2 2 2 1 1 3
2 3 2 2 2 1 1 2
2 3 2 2 2 1 1 1
2 3 2 2 2 1 1 3
2 3 2 2 2 1 1 2
2 3 2 2 2 1 1 3
2 3 2 2 2 1 1 1
2 2 1 1 2 2 1 2
2 2 1 1 2 2 1 3
2 2 1 1 2 2 1 1
2 2 1 1 2 2 1 1
2 2 1 1 2 2 1 2
2 2 1 1 2 2 1 3
2 2 1 1 2 2 1 2
2 2 1 1 2 2 1 1
2 2 1 1 2 2 1 3
2 2 1 1 2 2 1 2
2 2 1 1 2 2 1 3
2 2 1 1 2 2 1 1
2 2 1 1 2 2 1 1
2 2 1 1 2 2 1 2
2 2 1 1 2 2 1 3
2 2 1 1 2 2 1 1
2 2 1 1 2 2 1 3
2 2 1 1 2 2 1 1
2 2 1 1 2 2 1 2
2 2 1 1 2 2 1 1
2 2 1 1 2 2 1 1
2 2 1 1 2 2 1 1
2 2 1 1 2 2 1 3
2 4 2 2 2 2 1 3
2 4 2 2 2 2 1 2
2 4 2 2 2 2 1 1
2 4 2 2 2 2 1 3
2 4 2 2 2 2 1 4
2 4 2 2 2 2 1 1
2 4 2 2 2 2 1 4
2 4 1 1 2 2 1 1
2 4 1 1 2 2 1 2
2 4 1 1 2 2 1 3
2 4 1 1 2 2 1 3
2 4 1 1 2 2 1 3
2 4 1 1 2 2 1 3
2 4 1 1 2 2 1 1
2 4 1 1 2 2 1 2
2 4 1 1 2 2 1 3
2 4 1 1 2 2 1 3
2 4 1 1 2 2 1 1
2 4 1 1 2 2 1 3
2 4 1 1 2 2 1 2
2 4 1 1 2 2 1 1
2 4 1 1 2 2 1 3
2 4 1 1 2 2 1 1
2 4 1 1 2 2 1 3
2 4 1 1 2 2 1 1
2 4 1 1 2 2 1 2
2 4 1 1 2 2 1 1
2 4 1 1 2 2 1 3
3 3 1 1 2 2 1 3
3 3 1 1 2 2 1 3
3 3 1 1 2 2 1 1
3 3 1 1 2 2 1 1
3 3 1 1 2 2 1 2
3 3 1 1 2 2 1 3
3 3 1 1 2 2 1 1
3 3 1 1 2 2 1 3
3 3 1 1 2 2 1 3
3 3 1 1 2 2 1 1
3 3 1 1 2 2 1 1
3 3 1 1 2 2 1 2
3 3 1 1 2 2 1 3
3 3 1 1 2 2 1 2
2 3 5 1 2 1 2 5
2 3 5 1 2 1 2 5
1 5 1 2 2 2 1 3
1 5 1 2 2 2 1 3
1 5 1 2 2 2 1 3
1 5 1 2 2 2 1 1
1 5 1 2 2 2 1 2
1 5 1 2 2 2 1 4
1 5 1 2 2 2 1 1
1 5 1 2 2 2 1 3
2 3 1 1 1 2 1 3
2 3 1 1 1 2 1 3
2 3 1 1 1 2 1 3
2 3 1 1 1 2 1 3
2 3 1 1 1 2 1 3
2 3 1 1 1 2 1 1
2 3 1 1 1 2 1 3
2 3 2 1 2 2 1 3
2 3 2 1 2 2 1 2
2 3 2 1 2 2 1 1
2 3 2 1 2 2 1 2
2 3 2 1 2 2 1 3
2 3 2 1 2 2 1 2
2 3 2 1 2 2 1 1
2 3 2 1 2 2 1 1
2 3 2 1 2 2 1 2
2 3 2 1 2 2 1 1
2 3 2 1 2 2 1 1
2 3 2 1 2 2 1 2
2 3 2 1 2 2 1 2
4 4 5 1 2 1 1 1
4 4 5 1 2 1 1 1
4 2 1 1 1 2 1 1
4 2 1 1 1 2 1 1
4 2 1 1 1 2 1 1
4 2 1 1 1 2 1 1
1 3 1 1 1 1 1 1
1 3 1 1 1 1 1 1
2 5 1 1 2 2 1 1
2 5 1 1 2 2 1 1
2 5 1 1 2 2 1 1
2 5 1 1 2 2 1 5
2 5 1 1 2 2 1 2
2 5 1 1 2 2 1 2
2 5 1 1 2 2 1 2
2 5 1 1 2 2 1 1
2 5 1 1 2 2 1 3
2 5 1 1 2 2 1 1
2 5 1 1 2 2 1 1
2 5 1 1 2 2 1 5
2 5 1 1 2 2 1 2
2 5 1 1 2 2 1 2
2 5 1 1 2 2 1 2
2 5 1 1 2 2 1 2
2 5 1 1 2 2 1 4
2 5 1 1 2 2 1 1
2 5 1 1 2 2 1 2
2 5 1 1 2 2 1 2
1 4 1 2 2 2 1 2
1 4 1 2 2 2 1 2
1 4 1 2 2 2 1 1
1 4 1 2 2 2 1 1
3 5 3 1 1 2 1 1
3 5 3 1 1 2 1 1
1 5 2 1 1 1 1 5
1 5 2 1 1 1 1 5
3 3 4 1 2 1 1 1
3 3 4 1 2 1 1 1
2 5 1 1 1 2 1 1
2 5 1 1 1 2 1 1
2 4 1 1 2 1 2 1
2 4 1 1 2 1 2 1
2 4 1 1 2 1 2 2
4 3 5 2 1 2 2 1
4 3 5 2 1 2 2 1
3 3 1 1 2 1 1 1
3 3 1 1 2 1 1 1
3 3 1 1 2 1 1 2
4 5 1 1 2 1 1 5
4 5 1 1 2 1 1 4
4 5 1 1 2 1 1 5
4 5 1 1 2 1 1 4
3 5 5 1 2 2 1 1
3 5 5 1 2 2 1 1
1 3 4 2 2 1 2 1
1 3 4 2 2 1 2 1
3 2 1 1 1 2 1 1
3 2 1 1 1 2 1 1
2 2 1 2 1 2 1 3
2 2 1 2 1 2 1 1
2 2 1 2 1 2 1 3
2 2 1 2 1 2 1 1
2 2 1 2 1 2 1 1
1 2 1 2 2 1 1 2
1 2 1 2 2 1 1 1
1 2 1 2 2 1 1 3
1 2 1 2 2 1 1 2
1 2 1 2 2 1 1 2
1 2 1 2 2 1 1 1
1 2 1 2 2 1 1 4
1 2 1 2 2 1 1 3
1 2 1 2 2 1 1 4
1 2 1 2 2 1 1 2
1 2 1 2 2 1 1 1
1 2 1 2 2 1 1 3
1 2 1 2 2 1 1 2
1 2 1 2 2 1 1 2
1 2 1 2 2 1 1 1
1 2 1 2 2 1 1 4
1 2 1 2 2 1 1 3
1 2 1 2 2 1 1 4
1 2 1 2 2 1 1 2
1 2 1 2 2 1 1 3
2 2 2 2 2 1 1 1
2 2 2 2 2 1 1 2
2 2 2 2 2 1 1 1
2 2 2 2 2 1 1 4
2 4 4 1 2 1 1 2
2 4 4 1 2 1 1 2
1 2 2 2 2 1 1 1
1 2 2 2 2 1 1 2
1 2 2 2 2 1 1 2
1 2 2 2 2 1 1 3
1 2 2 2 2 1 1 1
1 2 2 2 2 1 1 2
1 2 2 2 2 1 1 1
1 2 2 2 2 1 1 2
1 2 2 2 2 1 1 3
1 3 1 2 2 1 1 3
1 3 1 2 2 1 1 2
1 3 1 2 2 1 1 1
1 3 1 2 2 1 1 1
1 3 1 2 2 1 1 3
1 3 1 2 2 1 1 3
1 3 1 2 2 1 1 3
1 3 1 2 2 1 1 3
1 3 1 2 2 1 1 2
1 3 1 2 2 1 1 1
1 3 1 2 2 1 1 1
1 3 1 2 2 1 1 2
1 3 1 2 2 1 1 4
1 3 1 2 2 1 1 3
1 3 1 2 2 1 1 3
1 3 1 2 2 1 1 3
1 3 1 2 2 1 1 3
2 3 2 2 2 2 1 2
2 3 2 2 2 2 1 1
2 3 2 2 2 2 1 1
2 3 2 2 2 2 1 1
2 3 2 2 2 2 1 4
2 3 2 2 2 2 1 2
2 3 2 2 2 2 1 1
2 3 2 2 2 2 1 1
2 3 2 2 2 2 1 1
2 3 2 2 2 2 1 1
2 3 2 2 2 2 1 4
4 4 2 1 2 1 1 2
4 4 2 1 2 1 1 2
2 2 5 1 2 2 1 2
2 2 5 1 2 2 1 1
2 2 5 1 2 2 1 2
2 2 5 1 2 2 1 1
1 4 1 1 2 1 1 4
1 4 1 1 2 1 1 5
1 4 1 1 2 1 1 2
1 4 1 1 2 1 1 3
1 4 1 1 2 1 1 4
1 4 1 1 2 1 1 5
1 4 1 1 2 1 1 2
1 4 1 1 2 1 1 5
1 4 1 1 2 1 1 3
2 4 1 2 2 2 1 1
2 4 1 2 2 2 1 4
2 4 1 2 2 2 1 3
2 4 1 2 2 2 1 3
2 4 1 2 2 2 1 2
2 4 1 2 2 2 1 1
2 4 1 2 2 2 1 4
2 4 1 2 2 2 1 3
2 4 1 2 2 2 1 3
2 4 1 2 2 2 1 2
2 4 1 2 2 2 1 2
2 4 1 2 2 2 1 2
2 4 1 2 2 2 1 1
1 5 2 2 1 1 1 2
1 5 2 2 1 1 1 2
2 2 1 2 1 2 2 1
2 2 1 2 1 2 2 1
2 2 1 1 2 2 1 2
2 2 1 1 2 2 1 3
2 2 1 1 2 2 1 1
2 2 1 1 2 2 1 1
2 2 1 1 2 2 1 2
2 2 1 1 2 2 1 3
2 2 1 1 2 2 1 2
2 2 1 1 2 2 1 1
2 2 1 1 2 2 1 3
2 2 1 1 2 2 1 2
2 2 1 1 2 2 1 3
2 2 1 1 2 2 1 1
2 2 1 1 2 2 1 1
2 2 1 1 2 2 1 2
2 2 1 1 2 2 1 3
2 2 1 1 2 2 1 1
2 2 1 1 2 2 1 3
2 2 1 1 2 2 1 1
2 2 1 1 2 2 1 2
2 2 1 1 2 2 1 1
2 2 1 1 2 2 1 1
2 2 1 1 2 2 1 1
2 2 1 1 2 2 1 3
1 3 1 1 2 1 1 1
1 3 1 1 2 1 1 4
1 3 1 1 2 1 1 1
1 3 1 1 2 1 1 2
1 3 1 1 2 1 1 3
1 3 1 1 2 1 1 1
1 3 1 1 2 1 1 4
1 3 1 1 2 1 1 1
1 3 1 1 2 1 1 3
1 3 1 1 2 1 1 3
1 3 1 1 2 1 1 4
1 5 4 2 2 1 1 5
1 5 4 2 2 1 1 5
3 2 4 1 2 2 1 2
3 2 4 1 2 2 1 2
1 3 1 1 2 2 1 2
1 3 1 1 2 2 1 4
1 3 1 1 2 2 1 2
1 3 1 1 2 2 1 4
1 3 1 1 2 2 1 3
1 3 1 1 2 2 1 2
1 3 1 1 2 2 1 1
1 3 1 1 2 2 1 1
1 3 1 1 2 2 1 2
1 3 1 1 2 2 1 1
1 4 1 1 2 2 1 2
1 4 1 1 2 2 1 3
1 4 1 1 2 2 1 2
1 4 1 1 2 2 1 3
1 4 1 1 2 2 1 1
1 4 1 1 2 2 1 3
1 4 1 1 2 2 1 2
1 1 1 2 2 2 2 4
1 1 1 2 2 2 2 4
3 3 3 1 2 2 1 1
3 3 3 1 2 2 1 1
3 3 3 1 2 2 1 2
3 3 3 1 2 2 1 1
3 3 3 1 2 2 1 1
3 3 3 1 2 2 1 3
3 3 3 1 2 2 1 2
2 5 1 2 2 1 1 4
2 5 1 2 2 1 1 4
2 5 1 2 2 1 1 4
2 5 1 2 2 1 1 4
2 5 1 2 2 1 1 4
2 5 1 2 2 1 1 4
2 5 1 2 2 1 1 4
1 2 1 1 2 2 2 1
1 2 1 1 2 2 2 2
1 2 1 1 2 2 2 1
1 2 1 1 2 2 2 1
1 2 1 1 2 2 2 1
2 4 1 2 2 1 1 1
2 4 1 2 2 1 1 3
2 4 1 2 2 1 1 4
2 4 1 2 2 1 1 4
2 4 1 2 2 1 1 2
2 4 1 2 2 1 1 4
2 4 1 2 2 1 1 1
2 4 1 2 2 1 1 3
2 4 1 2 2 1 1 4
2 4 1 2 2 1 1 4
2 4 1 2 2 1 1 2
2 4 1 2 2 1 1 4
1 2 4 2 2 2 1 1
1 2 4 2 2 2 1 1
4 2 2 1 1 1 1 1
4 2 2 1 1 1 1 1
1 3 2 1 2 1 1 3
1 3 2 1 2 1 1 2
1 3 2 1 2 1 1 4
1 3 2 1 2 1 1 2
1 3 2 1 2 1 1 3
1 3 2 1 2 1 1 3
1 3 2 1 2 1 1 2
1 3 2 1 2 1 1 4
1 3 2 1 2 1 1 2
1 3 2 1 2 1 1 3
1 3 2 1 2 1 1 3
1 3 2 1 2 1 1 4
1 3 2 1 2 1 1 4
1 3 2 1 2 1 1 3
1 4 3 2 2 2 1 3
1 4 3 2 2 2 1 3
1 4 3 2 2 2 1 5
1 5 1 1 2 1 1 2
1 5 1 1 2 1 1 4
1 5 1 1 2 1 1 5
1 5 1 1 2 1 1 5
1 5 1 1 2 1 1 2
1 5 1 1 2 1 1 4
1 5 1 1 2 1 1 4
1 5 1 1 2 1 1 5
1 5 1 1 2 1 1 5
1 5 1 1 2 1 1 2
1 5 1 1 2 1 1 5
1 5 1 1 2 1 1 1
2 2 2 1 2 2 1 2
2 2 2 1 2 2 1 1
2 2 2 1 2 2 1 3
2 2 2 1 2 2 1 3
2 2 2 1 2 2 1 2
2 2 2 1 2 2 1 1
2 2 2 1 2 2 1 3
2 2 2 1 2 2 1 3
2 2 2 1 2 2 1 2
2 2 2 1 2 2 1 1
2 2 2 1 2 2 1 3
2 2 2 1 2 2 1 3
2 2 2 1 2 2 1 2
2 2 2 1 2 2 1 1
2 2 2 1 2 2 1 3
2 2 2 1 2 2 1 3
1 2 4 1 2 1 1 1
1 2 4 1 2 1 1 2
1 2 4 1 2 1 1 1
1 2 4 1 2 1 1 2
1 5 1 2 2 1 2 5
1 5 1 2 2 1 2 5
1 5 1 2 2 1 1 5
1 5 1 2 2 1 1 1
1 5 1 2 2 1 1 4
1 5 1 2 2 1 1 5
1 5 1 2 2 1 1 1
1 5 1 2 2 1 1 4
1 5 1 2 2 1 1 5
1 5 1 2 2 1 1 5
1 5 1 2 2 1 1 5
1 5 1 2 2 1 1 3
1 5 1 2 2 1 1 4
1 4 1 2 2 1 1 5
1 4 1 2 2 1 1 4
1 4 1 2 2 1 1 5
1 4 1 2 2 1 1 4
1 4 1 2 2 1 1 3
1 4 1 2 2 1 1 4
1 4 1 2 2 1 1 4
1 4 1 2 2 1 1 4
3 1 2 1 2 2 1 3
3 1 2 1 2 2 1 3
1 4 3 1 2 1 1 1
1 4 3 1 2 1 1 1
1 1 4 1 1 2 1 1
1 1 4 1 1 2 1 1
2 4 2 2 1 1 1 1
2 4 2 2 1 1 1 1
1 2 1 2 2 1 1 2
1 2 1 2 2 1 1 1
1 2 1 2 2 1 1 3
1 2 1 2 2 1 1 2
1 2 1 2 2 1 1 2
1 2 1 2 2 1 1 1
1 2 1 2 2 1 1 4
1 2 1 2 2 1 1 3
1 2 1 2 2 1 1 4
1 2 1 2 2 1 1 2
1 2 1 2 2 1 1 1
1 2 1 2 2 1 1 3
1 2 1 2 2 1 1 2
1 2 1 2 2 1 1 2
1 2 1 2 2 1 1 1
1 2 1 2 2 1 1 4
1 2 1 2 2 1 1 3
1 2 1 2 2 1 1 4
1 2 1 2 2 1 1 2
1 2 1 2 2 1 1 3
1 5 1 1 2 2 1 5
1 5 1 1 2 2 1 5
1 5 1 1 2 2 1 4
1 5 1 1 2 2 1 5
1 5 1 1 2 2 1 4
1 5 1 1 2 2 1 3
1 5 1 1 2 2 1 2
1 5 1 1 2 2 1 2
2 5 2 1 2 1 1 4
2 5 2 1 2 1 1 4
2 5 2 1 2 1 1 5
2 5 2 1 2 1 1 3
2 4 1 1 1 1 1 4
2 4 1 1 1 1 1 4
1 4 1 2 2 1 1 5
1 4 1 2 2 1 1 4
1 4 1 2 2 1 1 5
1 4 1 2 2 1 1 4
1 4 1 2 2 1 1 3
1 4 1 2 2 1 1 4
1 4 1 2 2 1 1 4
1 4 1 2 2 1 1 4
1 3 2 2 2 1 1 4
1 3 2 2 2 1 1 2
1 3 2 2 2 1 1 3
1 3 2 2 2 1 1 4
1 3 2 2 2 1 1 2
1 3 2 2 2 1 1 5
1 3 2 2 2 1 1 3
1 3 2 2 2 1 1 4
2 5 2 2 2 1 1 5
2 5 2 2 2 1 1 5
1 2 2 1 2 1 1 1
1 2 2 1 2 1 1 4
1 2 2 1 2 1 1 1
1 2 2 1 2 1 1 4
2 3 2 2 2 2 1 2
2 3 2 2 2 2 1 1
2 3 2 2 2 2 1 1
2 3 2 2 2 2 1 1
2 3 2 2 2 2 1 4
2 3 2 2 2 2 1 2
2 3 2 2 2 2 1 1
2 3 2 2 2 2 1 1
2 3 2 2 2 2 1 1
2 3 2 2 2 2 1 1
2 3 2 2 2 2 1 4
2 2 5 1 2 2 1 2
2 2 5 1 2 2 1 1
2 2 5 1 2 2 1 2
2 2 5 1 2 2 1 1
1 5 1 1 2 1 1 2
1 5 1 1 2 1 1 4
1 5 1 1 2 1 1 5
1 5 1 1 2 1 1 5
1 5 1 1 2 1 1 2
1 5 1 1 2 1 1 4
1 5 1 1 2 1 1 4
1 5 1 1 2 1 1 5
1 5 1 1 2 1 1 5
1 5 1 1 2 1 1 2
1 5 1 1 2 1 1 5
1 5 1 1 2 1 1 1
2 2 1 1 2 1 1 2
2 2 1 1 2 1 1 1
2 2 1 1 2 1 1 1
2 2 1 1 2 1 1 1
2 2 1 1 2 1 1 1
2 2 1 1 2 1 1 4
2 2 1 1 2 1 1 2
2 2 1 1 2 1 1 1
2 2 1 1 2 1 1 1
2 2 1 1 2 1 1 1
2 2 1 1 2 1 1 1
2 2 1 1 2 1 1 4
2 2 1 1 2 1 1 2
2 4 1 1 2 1 1 4
2 4 1 1 2 1 1 4
2 4 1 1 2 1 1 3
2 4 1 1 2 1 1 4
2 4 1 1 2 1 1 4
2 4 1 1 2 1 1 1
2 4 1 1 2 1 1 3
2 4 1 1 2 1 1 4
2 4 1 1 2 1 1 4
2 4 1 1 2 1 1 4
2 4 1 1 2 1 1 3
2 4 1 1 2 1 1 4
2 4 1 1 2 1 1 4
2 4 1 1 2 1 1 1
2 4 1 1 2 1 1 4
2 4 1 1 2 1 1 3
2 4 1 1 2 1 1 4
2 5 2 2 2 2 1 1
2 5 2 2 2 2 1 1
2 4 1 2 2 1 1 1
2 4 1 2 2 1 1 3
2 4 1 2 2 1 1 4
2 4 1 2 2 1 1 4
2 4 1 2 2 1 1 2
2 4 1 2 2 1 1 4
2 4 1 2 2 1 1 1
2 4 1 2 2 1 1 3
2 4 1 2 2 1 1 4
2 4 1 2 2 1 1 4
2 4 1 2 2 1 1 2
2 4 1 2 2 1 1 4
2 4 1 2 2 2 1 1
2 4 1 2 2 2 1 4
2 4 1 2 2 2 1 3
2 4 1 2 2 2 1 3
2 4 1 2 2 2 1 2
2 4 1 2 2 2 1 1
2 4 1 2 2 2 1 4
2 4 1 2 2 2 1 3
2 4 1 2 2 2 1 3
2 4 1 2 2 2 1 2
2 4 1 2 2 2 1 2
2 4 1 2 2 2 1 2
2 4 1 2 2 2 1 1
1 3 2 1 2 1 1 3
1 3 2 1 2 1 1 2
1 3 2 1 2 1 1 4
1 3 2 1 2 1 1 2
1 3 2 1 2 1 1 3
1 3 2 1 2 1 1 3
1 3 2 1 2 1 1 2
1 3 2 1 2 1 1 4
1 3 2 1 2 1 1 2
1 3 2 1 2 1 1 3
1 3 2 1 2 1 1 3
1 3 2 1 2 1 1 4
1 3 2 1 2 1 1 4
1 3 2 1 2 1 1 3
2 3 1 1 2 1 1 2
2 3 1 1 2 1 1 2
2 3 1 1 2 1 1 3
2 3 1 1 2 1 1 1
2 3 1 1 2 1 1 3
2 3 1 1 2 1 1 5
2 3 1 1 2 1 1 2
2 3 1 1 2 1 1 2
2 3 1 1 2 1 1 3
2 3 1 1 2 1 1 1
2 3 1 1 2 1 1 3
2 3 1 1 2 1 1 5
2 3 1 1 2 1 1 2
2 3 1 1 2 1 1 4
2 3 1 2 2 1 1 2
2 3 1 2 2 1 1 2
2 3 1 2 2 1 1 5
2 3 1 2 2 1 1 2
2 3 1 2 2 1 1 3
2 3 1 2 2 1 1 3
2 3 1 2 2 1 1 2
2 3 1 2 2 1 1 2
2 3 1 2 2 1 1 5
2 3 1 2 2 1 1 2
2 3 1 2 2 1 1 3
2 3 1 2 2 1 1 4
2 3 1 2 2 1 1 1
2 2 2 1 2 2 1 2
2 2 2 1 2 2 1 1
2 2 2 1 2 2 1 3
2 2 2 1 2 2 1 3
2 2 2 1 2 2 1 2
2 2 2 1 2 2 1 1
2 2 2 1 2 2 1 3
2 2 2 1 2 2 1 3
2 3 1 1 2 2 1 1
2 3 1 1 2 2 1 2
2 3 1 1 2 2 1 1
2 3 1 1 2 2 1 1
2 3 1 1 2 2 1 2
2 3 1 1 2 2 1 3
2 3 1 1 2 2 1 1
2 3 1 1 2 2 1 2
2 3 1 1 2 2 1 1
2 3 1 1 2 2 1 2
2 3 1 1 2 2 1 1
2 3 1 1 2 2 1 1
2 3 1 1 2 2 1 2
2 3 1 1 2 2 1 1
2 3 1 1 2 2 1 3
2 3 1 1 2 2 1 2
2 3 1 1 2 2 1 1
2 3 1 1 2 2 1 2
2 3 1 1 2 2 1 1
2 3 1 1 2 2 1 1
2 3 1 1 2 2 1 2
2 3 1 1 2 2 1 1
2 4 2 1 2 1 1 3
2 4 2 1 2 1 1 3
2 4 2 1 2 1 1 3
2 4 2 1 2 1 1 2
2 4 2 1 2 1 1 2
2 3 1 1 2 2 2 3
2 3 1 1 2 2 2 2
2 3 1 1 2 2 2 3
2 3 1 1 2 2 2 3
2 3 1 1 2 2 2 2
2 3 1 1 2 2 2 1
2 3 1 1 2 2 2 3
2 3 1 1 2 2 2 1
2 3 1 2 2 1 1 2
2 3 1 2 2 1 1 2
2 3 1 2 2 1 1 5
2 3 1 2 2 1 1 2
2 3 1 2 2 1 1 3
2 3 1 2 2 1 1 3
2 3 1 2 2 1 1 2
2 3 1 2 2 1 1 2
2 3 1 2 2 1 1 5
2 3 1 2 2 1 1 2
2 3 1 2 2 1 1 3
2 3 1 2 2 1 1 4
2 3 1 2 2 1 1 1
2 4 2 2 2 1 1 5
2 4 2 2 2 1 1 5
2 4 2 2 2 1 1 3
2 4 2 2 2 1 1 5
2 4 2 2 2 1 1 5
2 4 2 2 2 1 1 3
1 2 2 1 2 1 1 1
1 2 2 1 2 1 1 4
1 2 2 1 2 1 1 1
1 2 2 1 2 1 1 4
1 3 1 2 2 1 1 3
1 3 1 2 2 1 1 2
1 3 1 2 2 1 1 1
1 3 1 2 2 1 1 1
1 3 1 2 2 1 1 3
1 3 1 2 2 1 1 3
1 3 1 2 2 1 1 3
1 3 1 2 2 1 1 3
1 3 1 2 2 1 1 2
1 3 1 2 2 1 1 1
1 3 1 2 2 1 1 1
1 3 1 2 2 1 1 2
1 3 1 2 2 1 1 4
1 3 1 2 2 1 1 3
1 3 1 2 2 1 1 3
1 3 1 2 2 1 1 3
1 3 1 2 2 1 1 3
2 2 2 2 2 2 1 1
2 2 2 2 2 2 1 2
2 2 2 2 2 2 1 1
2 2 2 2 2 2 1 1
2 2 2 2 2 2 1 2
2 2 2 2 2 2 1 1
2 2 2 2 2 2 1 2
2 2 2 2 2 2 1 2
1 3 4 2 2 1 1 2
1 3 4 2 2 1 1 2
1 4 1 1 2 1 1 4
1 4 1 1 2 1 1 5
1 4 1 1 2 1 1 2
1 4 1 1 2 1 1 3
1 4 1 1 2 1 1 4
1 4 1 1 2 1 1 5
1 4 1 1 2 1 1 2
1 4 1 1 2 1 1 5
1 4 1 1 2 1 1 3
1 4 4 1 2 2 1 3
1 4 4 1 2 2 1 3
2 2 4 1 2 2 1 2
2 2 4 1 2 2 1 2
2 2 4 1 2 2 1 2
2 2 4 1 2 2 1 2
2 5 1 1 2 2 1 1
2 5 1 1 2 2 1 1
2 5 1 1 2 2 1 1
2 5 1 1 2 2 1 5
2 5 1 1 2 2 1 2
2 5 1 1 2 2 1 2
2 5 1 1 2 2 1 2
2 5 1 1 2 2 1 1
2 5 1 1 2 2 1 3
2 5 1 1 2 2 1 1
2 5 1 1 2 2 1 1
2 5 1 1 2 2 1 5
2 5 1 1 2 2 1 2
2 5 1 1 2 2 1 2
2 5 1 1 2 2 1 2
2 5 1 1 2 2 1 2
2 5 1 1 2 2 1 4
2 5 1 1 2 2 1 1
2 5 1 1 2 2 1 2
2 5 1 1 2 2 1 2
2 4 1 1 2 2 1 1
2 4 1 1 2 2 1 2
2 4 1 1 2 2 1 3
2 4 1 1 2 2 1 3
2 4 1 1 2 2 1 3
2 4 1 1 2 2 1 3
2 4 1 1 2 2 1 1
2 4 1 1 2 2 1 2
2 4 1 1 2 2 1 3
2 4 1 1 2 2 1 3
2 4 1 1 2 2 1 1
2 4 1 1 2 2 1 3
2 4 1 1 2 2 1 2
2 4 1 1 2 2 1 1
2 4 1 1 2 2 1 3
2 4 1 1 2 2 1 1
2 4 1 1 2 2 1 3
2 4 1 1 2 2 1 1
2 4 1 1 2 2 1 2
2 4 1 1 2 2 1 1
2 4 1 1 2 2 1 3
1 2 1 1 2 2 1 2
1 2 1 1 2 2 1 4
1 2 1 1 2 2 1 2
1 2 1 1 2 2 1 4
1 2 1 1 2 2 1 1
4 5 2 1 2 2 1 1
4 5 2 1 2 2 1 3
4 5 2 1 2 2 1 1
4 5 2 1 2 2 1 3
3 3 2 1 2 2 1 2
3 3 2 1 2 2 1 4
3 3 2 1 2 2 1 1
3 3 2 1 2 2 1 3
3 3 2 1 2 2 1 2
3 3 2 1 2 2 1 4
3 3 2 1 2 2 1 1
3 3 2 1 2 2 1 1
3 3 2 1 2 2 1 3
3 3 2 1 2 2 1 1
2 3 1 1 2 2 2 3
2 3 1 1 2 2 2 2
2 3 1 1 2 2 2 3
2 3 1 1 2 2 2 3
2 3 1 1 2 2 2 2
2 3 1 1 2 2 2 1

In [113]:
empty=empty.reset_index()
empty=empty.drop(['index'],axis=1)
empty.columns=sample_data.columns
empty.to_excel('./sample.xlsx')
empty=empty.drop_duplicates()
empty

      studytime  goout  Fjob  famsup  schoolsup  sex  Pstatus  Walc
0             2      4     4       2          1    2        2     1
2             2      3     1       1          2    2        1     1
3             2      3     1       1          2    2        1     2
7             2      3     1       1          2    2        1     3
24            2      2     1       2          1    2        1     3
...         ...    ...   ...     ...        ...  ...      ...   ...
2532          2      1     1       2          2    2        2     1
2533          1      5     2       2          2    2        1     3
2537          2      3     2       2          2    2        2     2
2540          2      4     3       1          2    2        2     4
2541          3      1     1       2          2    2        1     1

[457 rows x 8 columns]

In [125]:
grouped=empty['Walc'].groupby([empty['studytime'],empty['goout'],empty['Fjob'],empty['famsup'],empty['schoolsup'],
                      empty['sex'],empty['Pstatus']]).mean()
grouped=pd.DataFrame([grouped])
grouped=grouped.T
grouped

grouped.to_excel('./asshole.xlsx')

In [ ]:
for a,b,c,d,e,f,g,h in zip(empty['studytime'], empty['goout'], empty['Fjob'], empty['famsup'], empty['schoolsup']
                           ,empty['sex'], empty['Psatus'],empty['Walc']):
  for q,w,r,t,y,u,i,o in zip(empty['studytime'], empty['goout'], empty['Fjob'], empty['famsup'], empty['schoolsup']
                             , empty['sex'], empty['Pstatus'], empty['Walc']):
    if a==q and b== w and c==r and d ==t and e==y and f ==u and g==i:
      aa=pd.DataFrame([a])
      bb=pd.DataFrame([b])
      cc=pd.DataFrame([c])
      dd=pd.DataFrame([d])
      ee=pd.DataFrame([e])
      ff=pd.DataFrame([f])
      gg=pd.DataFrame([g])
      hh=pd.DataFrame([h+o])

In [ ]:
noise1=student[(student['studytime'] ==1)&(student['goout'] ==1)&(student['Fjob'] == 'other')&(student['famsup'] == 'yes')&(student['schoolsup'] =='yes')&(student['sex']=='M') & (student['Pstatus'] == 'T')]
noise1

    studytime  goout   Fjob famsup schoolsup sex Pstatus  Walc
78          1      1  other    yes       yes   M       T     1
78          1      1  other    yes       yes   M       T     1

In [ ]:
noise2=student[(student['studytime'] ==1)&(student['goout'] ==2)&(student['Fjob'] == 'services')&(student['famsup'] == 'yes')&(student['schoolsup'] =='yes')&(student['sex']=='M') & (student['Pstatus'] == 'T')]
noise2

    studytime  goout      Fjob famsup schoolsup sex Pstatus  Walc
80          1      2  services    yes       yes   M       T     3
80          1      2  services    yes       yes   M       T     3

In [ ]:
noise3=student[(student['studytime'] ==1)&(student['goout'] ==3)&(student['Fjob'] == 'at_home')&(student['famsup'] == 'no')&(student['schoolsup'] =='no')&(student['sex']=='M') & (student['Pstatus'] == 'T')]
noise3

     studytime  goout     Fjob famsup schoolsup sex Pstatus  Walc
394          1      3  at_home     no        no   M       T     3

In [ ]:
noise4=student[(student['studytime'] ==1)&(student['goout'] ==4)&(student['Fjob'] == 'teacher')&(student['famsup'] == 'no')&(student['schoolsup'] =='no')&(student['sex']=='M') & (student['Pstatus'] == 'T')]
noise4

Empty DataFrame
Columns: [studytime, goout, Fjob, famsup, schoolsup, sex, Pstatus, Walc]
Index: []

In [ ]:
noise5=student[(student['studytime'] ==2)&(student['goout'] ==1)&(student['Fjob'] == 'services')&(student['famsup'] == 'no')&(student['schoolsup'] =='no')&(student['sex']=='M') & (student['Pstatus'] == 'T')]
noise5

     studytime  goout      Fjob famsup schoolsup sex Pstatus  Walc
519          2      1  services     no        no   M       T     1

In [ ]:
noise6=student[(student['studytime'] ==2)&(student['goout'] ==2)&(student['Fjob'] == 'other')&(student['famsup'] == 'no')&(student['schoolsup'] =='no')&(student['sex']=='M') & (student['Pstatus'] == 'T')]
noise6

     studytime  goout   Fjob famsup schoolsup sex Pstatus  Walc
33           2      2  other     no        no   M       T     1
88           2      2  other     no        no   M       T     1
236          2      2  other     no        no   M       T     5
33           2      2  other     no        no   M       T     1
88           2      2  other     no        no   M       T     1
250          2      2  other     no        no   M       T     5

In [ ]:
noise7=student[(student['studytime'] ==2)&(student['goout'] ==3)&(student['Fjob'] == 'teacher')&(student['famsup'] == 'yes')&(student['schoolsup'] =='yes')&(student['sex']=='M') & (student['Pstatus'] == 'T')]
noise7

Empty DataFrame
Columns: [studytime, goout, Fjob, famsup, schoolsup, sex, Pstatus, Walc]
Index: []

In [ ]:
noise8=student[(student['studytime'] ==2)&(student['goout'] ==4)&(student['Fjob'] == 'at_home')&(student['famsup'] == 'yes')&(student['schoolsup'] =='yes')&(student['sex']=='M') & (student['Pstatus'] == 'T')]
noise8

Empty DataFrame
Columns: [studytime, goout, Fjob, famsup, schoolsup, sex, Pstatus, Walc]
Index: []

In [ ]:
noise9=student[(student['studytime'] ==3)&(student['goout'] ==1)&(student['Fjob'] == 'at_home')&(student['famsup'] == 'yes')&(student['schoolsup'] =='no')&(student['sex']=='M') & (student['Pstatus'] == 'T')]
noise9

Empty DataFrame
Columns: [studytime, goout, Fjob, famsup, schoolsup, sex, Pstatus, Walc]
Index: []

In [ ]:
noise10=student[(student['studytime'] ==3)&(student['goout'] ==2)&(student['Fjob'] == 'teacher')&(student['famsup'] == 'yes')&(student['schoolsup'] =='no')&(student['sex']=='M') & (student['Pstatus'] == 'T')]
noise10

Empty DataFrame
Columns: [studytime, goout, Fjob, famsup, schoolsup, sex, Pstatus, Walc]
Index: []

In [ ]:
noise11=student[(student['studytime'] ==3)&(student['goout'] ==3)&(student['Fjob'] == 'other')&(student['famsup'] == 'no')&(student['schoolsup'] =='yes')&(student['sex']=='M') & (student['Pstatus'] == 'T')]
noise11

Empty DataFrame
Columns: [studytime, goout, Fjob, famsup, schoolsup, sex, Pstatus, Walc]
Index: []

In [ ]:
noise9=student[(student['studytime'] ==3)&(student['goout'] ==4)&(student['Fjob'] == '')&(student['famsup'] == 'yes')&(student['schoolsup'] =='no')&(student['sex']=='M') & (student['Pstatus'] == 'T')]
noise9

In [ ]:
student=student.replace({'other' : 4,})

In [ ]:
from sklearn.preprocessing import OrdinalEncoder
encoder=OrdinalEncoder()
result=encoder.fit_transform(student)
result

array([[1., 3., 4., ..., 0., 0., 0.],
       [1., 2., 2., ..., 0., 1., 0.],
       [1., 1., 2., ..., 0., 1., 2.],
       ...,
       [1., 0., 2., ..., 0., 1., 0.],
       [0., 4., 3., ..., 1., 1., 3.],
       [0., 0., 2., ..., 1., 1., 3.]])

In [ ]:
encoder.categories_

[array([1, 2, 3, 4]),
 array([1, 2, 3, 4, 5]),
 array(['at_home', 'health', 'other', 'services', 'teacher'], dtype=object),
 array(['no', 'yes'], dtype=object),
 array(['no', 'yes'], dtype=object),
 array(['F', 'M'], dtype=object),
 array(['A', 'T'], dtype=object),
 array([1, 2, 3, 4, 5])]

In [ ]:
result=pd.DataFrame(result)
result

        0    1    2    3    4    5    6    7
0     1.0  3.0  4.0  0.0  1.0  0.0  0.0  0.0
1     1.0  2.0  2.0  1.0  0.0  0.0  1.0  0.0
2     1.0  1.0  2.0  0.0  1.0  0.0  1.0  2.0
3     2.0  1.0  3.0  1.0  0.0  0.0  1.0  0.0
4     1.0  1.0  2.0  1.0  0.0  0.0  1.0  1.0
...   ...  ...  ...  ...  ...  ...  ...  ...
1039  2.0  1.0  2.0  0.0  0.0  0.0  1.0  1.0
1040  1.0  3.0  3.0  1.0  0.0  0.0  1.0  0.0
1041  1.0  0.0  2.0  0.0  0.0  0.0  1.0  0.0
1042  0.0  4.0  3.0  0.0  0.0  1.0  1.0  3.0
1043  0.0  0.0  2.0  0.0  0.0  1.0  1.0  3.0

[1044 rows x 8 columns]

In [ ]:
Y=student['Walc']
dataset=student.drop(['school','sex','age','reason'],axis=1)
dataset

    address famsize Pstatus  Medu  Fedu  ... health absences  G1  G2  G3
0         U     GT3       A     4     4  ...      3        6   5   6   6
1         U     GT3       T     1     1  ...      3        4   5   5   6
2         U     LE3       T     1     1  ...      3       10   7   8  10
3         U     GT3       T     4     2  ...      5        2  15  14  15
4         U     GT3       T     3     3  ...      5        4   6  10  10
..      ...     ...     ...   ...   ...  ...    ...      ...  ..  ..  ..
644       R     GT3       T     2     3  ...      5        4  10  11  10
645       U     LE3       T     3     1  ...      1        4  15  15  16
646       U     GT3       T     1     1  ...      5        6  11  12   9
647       U     LE3       T     3     1  ...      2        6  10  10  10
648       R     LE3       T     3     2  ...      5        4  10  11  11

[1044 rows x 29 columns]

In [ ]:
category=student[['address','famsize','Pstatus','Mjob','Fjob','guardian','schoolsup','famsup','paid','activities','nursery','higher','internet','romantic']]
counting=student[['Medu','Fedu','traveltime','studytime','failures','famrel','freetime','goout','Dalc','Walc','health','G1','G2','G3']]
discrete=student['absences']

In [ ]:
# 타겟과 address
a1=pd.DataFrame(dataset[dataset['Walc'] == 1]['address'])
a2=pd.DataFrame(dataset[dataset['Walc'] == 2]['address'])
a3=pd.DataFrame(dataset[dataset['Walc'] == 3]['address'])
a4=pd.DataFrame(dataset[dataset['Walc'] == 4]['address'])
a5=pd.DataFrame(dataset[dataset['Walc'] == 5]['address'])
print(a1.value_counts())
print(a2.value_counts())
print(a3.value_counts())
print(a4.value_counts())
print(a5.value_counts())

address
U          301
R           97
dtype: int64
address
U          166
R           69
dtype: int64
address
U          141
R           59
dtype: int64
address
U          103
R           35
dtype: int64
address
U          48
R          25
dtype: int64

In [ ]:
# 타겟과 famsize
a6=pd.DataFrame(dataset[dataset['Walc'] == 1]['famsize'])
a7=pd.DataFrame(dataset[dataset['Walc'] == 2]['famsize'])
a8=pd.DataFrame(dataset[dataset['Walc'] == 3]['famsize'])
a9=pd.DataFrame(dataset[dataset['Walc'] == 4]['famsize'])
a10=pd.DataFrame(dataset[dataset['Walc'] == 5]['famsize'])
print(a6.value_counts())
print(a7.value_counts())
print(a8.value_counts())
print(a9.value_counts())
print(a10.value_counts())

famsize
GT3        299
LE3         99
dtype: int64
famsize
GT3        166
LE3         69
dtype: int64
famsize
GT3        137
LE3         63
dtype: int64
famsize
GT3        91
LE3        47
dtype: int64
famsize
GT3        45
LE3        28
dtype: int64

In [ ]:
# 타겟과 Pstatus
a6=pd.DataFrame(dataset[dataset['Walc'] == 1]['Pstatus'])
a7=pd.DataFrame(dataset[dataset['Walc'] == 2]['Pstatus'])
a8=pd.DataFrame(dataset[dataset['Walc'] == 3]['Pstatus'])
a9=pd.DataFrame(dataset[dataset['Walc'] == 4]['Pstatus'])
a10=pd.DataFrame(dataset[dataset['Walc'] == 5]['Pstatus'])
print(a6.value_counts())
print(a7.value_counts())
print(a8.value_counts())
print(a9.value_counts())
print(a10.value_counts())

Pstatus
T          339
A           59
dtype: int64
Pstatus
T          212
A           23
dtype: int64
Pstatus
T          188
A           12
dtype: int64
Pstatus
T          118
A           20
dtype: int64
Pstatus
T          66
A           7
dtype: int64

In [ ]:
# 타겟과 Mjob
a6=pd.DataFrame(dataset[dataset['Walc'] == 1]['Mjob'])
a7=pd.DataFrame(dataset[dataset['Walc'] == 2]['Mjob'])
a8=pd.DataFrame(dataset[dataset['Walc'] == 3]['Mjob'])
a9=pd.DataFrame(dataset[dataset['Walc'] == 4]['Mjob'])
a10=pd.DataFrame(dataset[dataset['Walc'] == 5]['Mjob'])
print(a6.value_counts())
print(a7.value_counts())
print(a8.value_counts())
print(a9.value_counts())
print(a10.value_counts())

Mjob
other       158
services     87
at_home      78
teacher      48
health       27
dtype: int64
Mjob
other       96
services    50
at_home     41
teacher     32
health      16
dtype: int64
Mjob
other       73
services    51
at_home     35
health      22
teacher     19
dtype: int64
Mjob
other       48
services    33
at_home     22
teacher     21
health      14
dtype: int64
Mjob
other       24
services    18
at_home     18
teacher     10
health       3
dtype: int64

In [ ]:
# 타겟과 Fjob
a6=pd.DataFrame(dataset[dataset['Walc'] == 1]['Fjob'])
a7=pd.DataFrame(dataset[dataset['Walc'] == 2]['Fjob'])
a8=pd.DataFrame(dataset[dataset['Walc'] == 3]['Fjob'])
a9=pd.DataFrame(dataset[dataset['Walc'] == 4]['Fjob'])
a10=pd.DataFrame(dataset[dataset['Walc'] == 5]['Fjob'])
print(a6.value_counts())
print(a7.value_counts())
print(a8.value_counts())
print(a9.value_counts())
print(a10.value_counts())

Fjob
other       222
services     91
teacher      33
at_home      30
health       22
dtype: int64
Fjob
other       121
services     68
teacher      19
at_home      18
health        9
dtype: int64
Fjob
other       124
services     62
teacher       7
at_home       7
dtype: int64
Fjob
other       82
services    42
health       6
at_home      6
teacher      2
dtype: int64
Fjob
other       35
services    29
teacher      4
health       4
at_home      1
dtype: int64

In [ ]:
# 타겟과 schoolsup
a6=pd.DataFrame(dataset[dataset['Walc'] == 1]['schoolsup'])
a7=pd.DataFrame(dataset[dataset['Walc'] == 2]['schoolsup'])
a8=pd.DataFrame(dataset[dataset['Walc'] == 3]['schoolsup'])
a9=pd.DataFrame(dataset[dataset['Walc'] == 4]['schoolsup'])
a10=pd.DataFrame(dataset[dataset['Walc'] == 5]['schoolsup'])
print(a6.value_counts())
print(a7.value_counts())
print(a8.value_counts())
print(a9.value_counts())
print(a10.value_counts())

schoolsup
no           329
yes           69
dtype: int64
schoolsup
no           225
yes           10
dtype: int64
schoolsup
no           177
yes           23
dtype: int64
schoolsup
no           127
yes           11
dtype: int64
schoolsup
no           67
yes           6
dtype: int64

In [ ]:

# 타겟과 famsup
a6=pd.DataFrame(dataset[dataset['Walc'] == 1]['famsup'])
a7=pd.DataFrame(dataset[dataset['Walc'] == 2]['famsup'])
a8=pd.DataFrame(dataset[dataset['Walc'] == 3]['famsup'])
a9=pd.DataFrame(dataset[dataset['Walc'] == 4]['famsup'])
a10=pd.DataFrame(dataset[dataset['Walc'] == 5]['famsup'])
print(a6.value_counts())
print(a7.value_counts())
print(a8.value_counts())
print(a9.value_counts())
print(a10.value_counts())

famsup
yes       253
no        145
dtype: int64
famsup
yes       150
no         85
dtype: int64
famsup
yes       128
no         72
dtype: int64
famsup
no        70
yes       68
dtype: int64
famsup
yes       41
no        32
dtype: int64

In [ ]:
# 타겟과 paid
a6=pd.DataFrame(dataset[dataset['Walc'] == 1]['paid'])
a7=pd.DataFrame(dataset[dataset['Walc'] == 2]['paid'])
a8=pd.DataFrame(dataset[dataset['Walc'] == 3]['paid'])
a9=pd.DataFrame(dataset[dataset['Walc'] == 4]['paid'])
a10=pd.DataFrame(dataset[dataset['Walc'] == 5]['paid'])
print(a6.value_counts())
print(a7.value_counts())
print(a8.value_counts())
print(a9.value_counts())
print(a10.value_counts())

paid
no      325
yes      73
dtype: int64
paid
no      184
yes      51
dtype: int64
paid
no      152
yes      48
dtype: int64
paid
no      105
yes      33
dtype: int64
paid
no      58
yes     15
dtype: int64

In [ ]:
# 타겟과 activities
a6=pd.DataFrame(dataset[dataset['Walc'] == 1]['activities'])
a7=pd.DataFrame(dataset[dataset['Walc'] == 2]['activities'])
a8=pd.DataFrame(dataset[dataset['Walc'] == 3]['activities'])
a9=pd.DataFrame(dataset[dataset['Walc'] == 4]['activities'])
a10=pd.DataFrame(dataset[dataset['Walc'] == 5]['activities'])
print(a6.value_counts())
print(a7.value_counts())
print(a8.value_counts())
print(a9.value_counts())
print(a10.value_counts())

activities
yes           211
no            187
dtype: int64
activities
no            136
yes            99
dtype: int64
activities
no            106
yes            94
dtype: int64
activities
no            70
yes           68
dtype: int64
activities
yes           44
no            29
dtype: int64

In [ ]:
# 타겟과 nursery
a6=pd.DataFrame(dataset[dataset['Walc'] == 1]['nursery'])
a7=pd.DataFrame(dataset[dataset['Walc'] == 2]['nursery'])
a8=pd.DataFrame(dataset[dataset['Walc'] == 3]['nursery'])
a9=pd.DataFrame(dataset[dataset['Walc'] == 4]['nursery'])
a10=pd.DataFrame(dataset[dataset['Walc'] == 5]['nursery'])
print(a6.value_counts())
print(a7.value_counts())
print(a8.value_counts())
print(a9.value_counts())
print(a10.value_counts())

nursery
yes        331
no          67
dtype: int64
nursery
yes        188
no          47
dtype: int64
nursery
yes        159
no          41
dtype: int64
nursery
yes        107
no          31
dtype: int64
nursery
yes        50
no         23
dtype: int64

In [ ]:
# 타겟과 higher
a6=pd.DataFrame(dataset[dataset['Walc'] == 1]['higher'])
a7=pd.DataFrame(dataset[dataset['Walc'] == 2]['higher'])
a8=pd.DataFrame(dataset[dataset['Walc'] == 3]['higher'])
a9=pd.DataFrame(dataset[dataset['Walc'] == 4]['higher'])
a10=pd.DataFrame(dataset[dataset['Walc'] == 5]['higher'])
print(a6.value_counts())
print(a7.value_counts())
print(a8.value_counts())
print(a9.value_counts())
print(a10.value_counts())

higher
yes       369
no         29
dtype: int64
higher
yes       220
no         15
dtype: int64
higher
yes       183
no         17
dtype: int64
higher
yes       124
no         14
dtype: int64
higher
yes       59
no        14
dtype: int64

In [ ]:
# 타겟과 internet
a6=pd.DataFrame(dataset[dataset['Walc'] == 1]['internet'])
a7=pd.DataFrame(dataset[dataset['Walc'] == 2]['internet'])
a8=pd.DataFrame(dataset[dataset['Walc'] == 3]['internet'])
a9=pd.DataFrame(dataset[dataset['Walc'] == 4]['internet'])
a10=pd.DataFrame(dataset[dataset['Walc'] == 5]['internet'])
print(a6.value_counts())
print(a7.value_counts())
print(a8.value_counts())
print(a9.value_counts())
print(a10.value_counts())

internet
yes         303
no           95
dtype: int64
internet
yes         189
no           46
dtype: int64
internet
yes         164
no           36
dtype: int64
internet
yes         115
no           23
dtype: int64
internet
yes         56
no          17
dtype: int64

In [ ]:
# 타겟과 romantic
a6=pd.DataFrame(dataset[dataset['Walc'] == 1]['romantic'])
a7=pd.DataFrame(dataset[dataset['Walc'] == 2]['romantic'])
a8=pd.DataFrame(dataset[dataset['Walc'] == 3]['romantic'])
a9=pd.DataFrame(dataset[dataset['Walc'] == 4]['romantic'])
a10=pd.DataFrame(dataset[dataset['Walc'] == 5]['romantic'])
print(a6.value_counts())
print(a7.value_counts())
print(a8.value_counts())
print(a9.value_counts())
print(a10.value_counts())

romantic
no          253
yes         145
dtype: int64
romantic
no          151
yes          84
dtype: int64
romantic
no          127
yes          73
dtype: int64
romantic
no          98
yes         40
dtype: int64
romantic
no          44
yes         29
dtype: int64

In [ ]:
# 타겟과 school
a6=pd.DataFrame(student[student['Walc'] == 1]['school'])
a7=pd.DataFrame(student[student['Walc'] == 2]['school'])
a8=pd.DataFrame(student[student['Walc'] == 3]['school'])
a9=pd.DataFrame(student[student['Walc'] == 4]['school'])
a10=pd.DataFrame(student[student['Walc'] == 5]['school'])
print(a6.value_counts())
print(a7.value_counts())
print(a8.value_counts())
print(a9.value_counts())
print(a10.value_counts())

school
GP        309
MS         89
dtype: int64
school
GP        164
MS         71
dtype: int64
school
GP        141
MS         59
dtype: int64
school
GP        102
MS         36
dtype: int64
school
GP        56
MS        17
dtype: int64

In [ ]:
# 타겟과 sex
a6=pd.DataFrame(student[student['Walc'] == 1]['sex'])
a7=pd.DataFrame(student[student['Walc'] == 2]['sex'])
a8=pd.DataFrame(student[student['Walc'] == 3]['sex'])
a9=pd.DataFrame(student[student['Walc'] == 4]['sex'])
a10=pd.DataFrame(student[student['Walc'] == 5]['sex'])
print(a6.value_counts())
print(a7.value_counts())
print(a8.value_counts())
print(a9.value_counts())
print(a10.value_counts())

sex
F      270
M      128
dtype: int64
sex
F      150
M       85
dtype: int64
sex
F      116
M       84
dtype: int64
sex
M      94
F      44
dtype: int64
sex
M      62
F      11
dtype: int64

In [ ]:
# 타겟과 reason
a6=pd.DataFrame(student[student['Walc'] == 1]['reason'])
a7=pd.DataFrame(student[student['Walc'] == 2]['reason'])
a8=pd.DataFrame(student[student['Walc'] == 3]['reason'])
a9=pd.DataFrame(student[student['Walc'] == 4]['reason'])
a10=pd.DataFrame(student[student['Walc'] == 5]['reason'])
print(a6.value_counts())
print(a7.value_counts())
print(a8.value_counts())
print(a9.value_counts())
print(a10.value_counts())

reason
course        171
home           98
reputation     96
other          33
dtype: int64
reason
course        98
reputation    59
home          56
other         22
dtype: int64
reason
course        69
reputation    58
home          49
other         24
dtype: int64
reason
course        61
home          35
reputation    24
other         18
dtype: int64
reason
course        31
home          20
reputation    11
other         11
dtype: int64

In [ ]:
z0=pd.read_csv('./address.csv',encoding='cp949')
z0.index=z0['Unnamed: 0']
z0=z0.drop(['Unnamed: 0'],axis=1)

z1=pd.read_csv('./Fjob.csv',encoding='cp949')
z1.index=z1['Unnamed: 0']
z1=z1.drop(['Unnamed: 0'],axis=1)

z2=pd.read_csv('./Mjob.csv',encoding='cp949')
z2.index=z2['Unnamed: 0']
z2=z2.drop(['Unnamed: 0'],axis=1)

z3=pd.read_csv('./Pstatus.csv',encoding='cp949')
z3.index=z3['Unnamed: 0']
z3=z3.drop(['Unnamed: 0'],axis=1)

z4=pd.read_csv('./activities.csv',encoding='cp949')
z4.index=z4['Unnamed: 0']
z4=z4.drop(['Unnamed: 0'],axis=1)

z5=pd.read_csv('./famsize.csv',encoding='cp949')
z5.index=z5['Unnamed: 0']
z5=z5.drop(['Unnamed: 0'],axis=1)

z6=pd.read_csv('./famsup.csv',encoding='cp949')
z6.index=z6['Unnamed: 0']
z6=z6.drop(['Unnamed: 0'],axis=1)

z7=pd.read_csv('./higher.csv',encoding='cp949')
z7.index=z7['Unnamed: 0']
z7=z7.drop(['Unnamed: 0'],axis=1)

z8=pd.read_csv('./internet.csv',encoding='cp949')
z8.index=z8['Unnamed: 0']
z8=z8.drop(['Unnamed: 0'],axis=1)

z9=pd.read_csv('./nursery.csv',encoding='cp949')
z9.index=z9['Unnamed: 0']
z9=z9.drop(['Unnamed: 0'],axis=1)

z10=pd.read_csv('./paid.csv',encoding='cp949')
z10.index=z10['Unnamed: 0']
z10=z10.drop(['Unnamed: 0'],axis=1)

z11=pd.read_csv('./reason.csv',encoding='cp949')
z11.index=z11['Unnamed: 0']
z11=z11.drop(['Unnamed: 0'],axis=1)

z12=pd.read_csv('./romantic.csv',encoding='cp949')
z12.index=z12['Unnamed: 0']
z12=z12.drop(['Unnamed: 0'],axis=1)

z13=pd.read_csv('./school.csv',encoding='cp949')
z13.index=z13['Unnamed: 0']
z13=z13.drop(['Unnamed: 0'],axis=1)

z14=pd.read_csv('./schoolsup.csv',encoding='cp949')
z14.index=z14['Unnamed: 0']
z14=z14.drop(['Unnamed: 0'],axis=1)

z15=pd.read_csv('./sex.csv',encoding='cp949')
z15.index=z15['Unnamed: 0']
z15=z15.drop(['Unnamed: 0'],axis=1)

FileNotFoundError: ignored

In [ ]:
import pandas as pd
import numpy as np
from scipy.stats import chi2_contingency
chi, p, dof, expected = chi2_contingency(z0)

print('address의 독립성검정')
print()
print(f"chi 스퀘어 값: {chi}",
      f"p-value (0.05): {p}",
      f"자유도 수: {dof}",
      f"기대값: \n{pd.DataFrame(expected)}",
      f"측정값: \n{z0}", sep = "\n" )

address의 독립성검정

chi 스퀘어 값: 4.746456898264595
p-value (0.05): 0.31431545407080974
자유도 수: 4
기대값:
            0           1
0  289.350575  108.649425
1  170.847701   64.152299
2  145.402299   54.597701
3  100.327586   37.672414
4   53.071839   19.928161
측정값:
              U   R
Unnamed: 0
수준1         301  97
수준2         166  69
수준3         141  59
수준4         103  35
수준5          48  25

In [ ]:
chi, p, dof, expected = chi2_contingency(z1)

print('Fjob의 독립성검정')
print()
print(f"chi 스퀘어 값: {chi}",
      f"p-value (0.05): {p}",
      f"자유도 수: {dof}",
      f"기대값: \n{pd.DataFrame(expected)}",
      f"측정값: \n{z1}", sep = "\n" )

Fjob의 독립성검정

chi 스퀘어 값: 42.18087770244574
p-value (0.05): 0.0003708164404658703
자유도 수: 16
기대값:
            0           1          2          3          4
0  222.636015  111.318008  23.636015  24.779693  15.630268
1  131.455939   65.727969  13.955939  14.631226   9.228927
2  111.877395   55.938697  11.877395  12.452107   7.854406
3   77.195402   38.597701   8.195402   8.591954   5.419540
4   40.835249   20.417625   4.335249   4.545019   2.866858
측정값:
            other  services  at_home  teacher  health
Unnamed: 0
수준1           222        91       30       33      22
수준2           121        68       18       19       9
수준3           124        62        7        7       0
수준4            82        42        6        2       6
수준5            35        29        1        4       4

In [ ]:
chi, p, dof, expected = chi2_contingency(z2)

print('Mjob의 독립성검정')
print()
print(f"chi 스퀘어 값: {chi}",
      f"p-value (0.05): {p}",
      f"자유도 수: {dof}",
      f"기대값: \n{pd.DataFrame(expected)}",
      f"측정값: \n{z2}", sep = "\n" )

Mjob의 독립성검정

chi 스퀘어 값: 13.763703202633689
p-value (0.05): 0.616312376261003
자유도 수: 16
기대값:
            0          1          2          3          4
0  152.109195  91.113027  73.957854  49.559387  31.260536
1   89.813218  53.797893  43.668582  29.262452  18.457854
2   76.436782  45.785441  37.164751  24.904215  15.708812
3   52.741379  31.591954  25.643678  17.183908  10.839080
4   27.899425  16.711686  13.565134   9.090038   5.733716
측정값:
            other  services  at_home  teacher  health
Unnamed: 0
수준1           158        87       78       48      27
수준2            96        50       41       32      16
수준3            73        51       35       19      22
수준4            48        33       22       21      14
수준5            24        18       18       10       3

In [ ]:
chi, p, dof, expected = chi2_contingency(z3)

print('Pstatus의 독립성검정')
print()
print(f"chi 스퀘어 값: {chi}",
      f"p-value (0.05): {p}",
      f"자유도 수: {dof}",
      f"기대값: \n{pd.DataFrame(expected)}",
      f"측정값: \n{z3}", sep = "\n" )

Pstatus의 독립성검정

chi 스퀘어 값: 12.32715173042476
p-value (0.05): 0.015077275742628042
자유도 수: 4
기대값:
            0          1
0  351.871648  46.128352
1  207.763410  27.236590
2  176.819923  23.180077
3  122.005747  15.994253
4   64.539272   8.460728
측정값:
              T   A
Unnamed: 0
수준1         339  59
수준2         212  23
수준3         188  12
수준4         118  20
수준5          66   7

In [ ]:
chi, p, dof, expected = chi2_contingency(z4)

print('activities의 독립성검정')
print()
print(f"chi 스퀘어 값: {chi}",
      f"p-value (0.05): {p}",
      f"자유도 수: {dof}",
      f"기대값: \n{pd.DataFrame(expected)}",
      f"측정값: \n{z4}", sep = "\n" )

activities의 독립성검정

chi 스퀘어 값: 10.967463347051403
p-value (0.05): 0.02693212536683922
자유도 수: 4
기대값:
            0           1
0  196.712644  201.287356
1  116.149425  118.850575
2   98.850575  101.149425
3   68.206897   69.793103
4   36.080460   36.919540
측정값:
            yes   no
Unnamed: 0
수준1         211  187
수준2          99  136
수준3          94  106
수준4          68   70
수준5          44   29

In [ ]:
chi, p, dof, expected = chi2_contingency(z5)

print('famsize의 독립성검정')
print()
print(f"chi 스퀘어 값: {chi}",
      f"p-value (0.05): {p}",
      f"자유도 수: {dof}",
      f"기대값: \n{pd.DataFrame(expected)}",
      f"측정값: \n{z5}", sep = "\n" )

famsize의 독립성검정

chi 스퀘어 값: 8.627283706920396
p-value (0.05): 0.07112158475567537
자유도 수: 4
기대값:
            0           1
0  281.344828  116.655172
1  166.120690   68.879310
2  141.379310   58.620690
3   97.551724   40.448276
4   51.603448   21.396552
측정값:
            GT3  LE3
Unnamed: 0
수준1         299   99
수준2         166   69
수준3         137   63
수준4          91   47
수준5          45   28

In [ ]:
chi, p, dof, expected = chi2_contingency(z6)

print('famsup의 독립성검정')
print()
print(f"chi 스퀘어 값: {chi}",
      f"p-value (0.05): {p}",
      f"자유도 수: {dof}",
      f"기대값: \n{pd.DataFrame(expected)}",
      f"측정값: \n{z6}", sep = "\n" )

famsup의 독립성검정

chi 스퀘어 값: 11.334360231848535
p-value (0.05): 0.02305245248736061
자유도 수: 4
기대값:
            0           1
0  243.984674  154.015326
1  144.061303   90.938697
2  122.605364   77.394636
3   84.597701   53.402299
4   44.750958   28.249042
측정값:
            yes   no
Unnamed: 0
수준1         253  145
수준2         150   85
수준3         128   72
수준4          68   70
수준5          41   32

In [ ]:
chi, p, dof, expected = chi2_contingency(z7)

print('higher의 독립성검정')
print()
print(f"chi 스퀘어 값: {chi}",
      f"p-value (0.05): {p}",
      f"자유도 수: {dof}",
      f"기대값: \n{pd.DataFrame(expected)}",
      f"측정값: \n{z7}", sep = "\n" )

higher의 독립성검정

chi 스퀘어 값: 13.254000645422355
p-value (0.05): 0.0100991330321787
자유도 수: 4
기대값:
            0          1
0  364.070881  33.929119
1  214.966475  20.033525
2  182.950192  17.049808
3  126.235632  11.764368
4   66.776820   6.223180
측정값:
            yes  no
Unnamed: 0
수준1         369  29
수준2         220  15
수준3         183  17
수준4         124  14
수준5          59  14

In [ ]:
chi, p, dof, expected = chi2_contingency(z8)

print('internet의 독립성검정')
print()
print(f"chi 스퀘어 값: {chi}",
      f"p-value (0.05): {p}",
      f"자유도 수: {dof}",
      f"기대값: \n{pd.DataFrame(expected)}",
      f"측정값: \n{z8}", sep = "\n" )

internet의 독립성검정

chi 스퀘어 값: 5.150082757360273
p-value (0.05): 0.27224180241017615
자유도 수: 4
기대값:
            0          1
0  315.273946  82.726054
1  186.154215  48.845785
2  158.429119  41.570881
3  109.316092  28.683908
4   57.826628  15.173372
측정값:
            yes  no
Unnamed: 0
수준1         303  95
수준2         189  46
수준3         164  36
수준4         115  23
수준5          56  17

In [ ]:
chi, p, dof, expected = chi2_contingency(z9)

print('nursery의 독립성검정')
print()
print(f"chi 스퀘어 값: {chi}",
      f"p-value (0.05): {p}",
      f"자유도 수: {dof}",
      f"기대값: \n{pd.DataFrame(expected)}",
      f"측정값: \n{z9}", sep = "\n" )

nursery의 독립성검정

chi 스퀘어 값: 9.082225099912817
p-value (0.05): 0.05907678455520938
자유도 수: 4
기대값:
            0          1
0  318.323755  79.676245
1  187.954981  47.045019
2  159.961686  40.038314
3  110.373563  27.626437
4   58.386015  14.613985
측정값:
            yes  no
Unnamed: 0
수준1         331  67
수준2         188  47
수준3         159  41
수준4         107  31
수준5          50  23

In [ ]:
chi, p, dof, expected = chi2_contingency(z10)

print('paid의 독립성검정')
print()
print(f"chi 스퀘어 값: {chi}",
      f"p-value (0.05): {p}",
      f"자유도 수: {dof}",
      f"기대값: \n{pd.DataFrame(expected)}",
      f"측정값: \n{z10}", sep = "\n" )

paid의 독립성검정

chi 스퀘어 값: 3.5526046326059153
p-value (0.05): 0.46992490388101626
자유도 수: 4
기대값:
           0           1
0  83.869732  314.130268
1  49.521073  185.478927
2  42.145594  157.854406
3  29.080460  108.919540
4  15.383142   57.616858
측정값:
            yes   no
Unnamed: 0
수준1          73  325
수준2          51  184
수준3          48  152
수준4          33  105
수준5          15   58

In [ ]:
chi, p, dof, expected = chi2_contingency(z11)

print('reason의 독립성검정')
print()
print(f"chi 스퀘어 값: {chi}",
      f"p-value (0.05): {p}",
      f"자유도 수: {dof}",
      f"기대값: \n{pd.DataFrame(expected)}",
      f"측정값: \n{z11}", sep = "\n" )

reason의 독립성검정

chi 스퀘어 값: 15.249212579761533
p-value (0.05): 0.2280898617739294
자유도 수: 12
기대값:
            0          1          2          3
0  163.927203  98.356322  94.544061  41.172414
1   96.791188  58.074713  55.823755  24.310345
2   82.375479  49.425287  47.509579  20.689655
3   56.839080  34.103448  32.781609  14.275862
4   30.067050  18.040230  17.340996   7.551724
측정값:
            course  home  reputation  other
Unnamed: 0
수준1            171    98          96     33
수준2             98    56          59     22
수준3             69    49          58     24
수준4             61    35          24     18
수준5             31    20          11     11

In [ ]:
chi, p, dof, expected = chi2_contingency(z12)

print('romantic의 독립성검정')
print()
print(f"chi 스퀘어 값: {chi}",
      f"p-value (0.05): {p}",
      f"자유도 수: {dof}",
      f"기대값: \n{pd.DataFrame(expected)}",
      f"측정값: \n{z12}", sep = "\n" )

romantic의 독립성검정

chi 스퀘어 값: 3.3694612571256637
p-value (0.05): 0.49800247594514024
자유도 수: 4
기대값:
            0           1
0  141.434866  256.565134
1   83.510536  151.489464
2   71.072797  128.927203
3   49.040230   88.959770
4   25.941571   47.058429
측정값:
            yes   no
Unnamed: 0
수준1         145  253
수준2          84  151
수준3          73  127
수준4          40   98
수준5          29   44

In [ ]:
chi, p, dof, expected = chi2_contingency(z13)

print('school의 독립성검정')
print()
print(f"chi 스퀘어 값: {chi}",
      f"p-value (0.05): {p}",
      f"자유도 수: {dof}",
      f"기대값: \n{pd.DataFrame(expected)}",
      f"측정값: \n{z13}", sep = "\n" )

school의 독립성검정

chi 스퀘어 값: 6.448666649624958
p-value (0.05): 0.16805367284233605
자유도 수: 4
기대값:
            0           1
0  294.306513  103.693487
1  173.773946   61.226054
2  147.892720   52.107280
3  102.045977   35.954023
4   53.980843   19.019157
측정값:
             GP  MS
Unnamed: 0
수준1         309  89
수준2         164  71
수준3         141  59
수준4         102  36
수준5          56  17

In [ ]:
chi, p, dof, expected = chi2_contingency(z14)

print('schoolsup의 독립성검정')
print()
print(f"chi 스퀘어 값: {chi}",
      f"p-value (0.05): {p}",
      f"자유도 수: {dof}",
      f"기대값: \n{pd.DataFrame(expected)}",
      f"측정값: \n{z14}", sep = "\n" )

schoolsup의 독립성검정

chi 스퀘어 값: 28.107422120484923
p-value (0.05): 1.1862996772283102e-05
자유도 수: 4
기대값:
           0           1
0  45.365900  352.634100
1  26.786398  208.213602
2  22.796935  177.203065
3  15.729885  122.270115
4   8.320881   64.679119
측정값:
            yes   no
Unnamed: 0
수준1          69  329
수준2          10  225
수준3          23  177
수준4          11  127
수준5           6   67

In [ ]:
chi, p, dof, expected = chi2_contingency(z15)

print('sex의 독립성검정')
print()
print(f"chi 스퀘어 값: {chi}",
      f"p-value (0.05): {p}",
      f"자유도 수: {dof}",
      f"기대값: \n{pd.DataFrame(expected)}",
      f"측정값: \n{z15}", sep = "\n" )

sex의 독립성검정

chi 스퀘어 값: 18.77102887819163
p-value (0.05): 0.0008716675591523462
자유도 수: 4
기대값:
            0           1
0  263.808429  134.191571
1  155.766284   79.233716
2  132.567050   67.432950
3   91.471264   46.528736
4   48.386973   24.613027
측정값:
              F    M
Unnamed: 0
수준1         270  128
수준2         150   85
수준3         116   84
수준4          94   44
수준5          62   11

In [ ]:
#순서형 자료의 스피어만 상관계수를 구해보자.
from scipy import stats as st
for x in counting:
  print(x,'와 Walc의 스피어만 상관계수 :')
  print(st.spearmanr(counting[x],Y))
  print()

Medu 와 Walc의 스피어만 상관계수 :
SpearmanrResult(correlation=-0.02726399516987281, pvalue=0.3788404037809686)

Fedu 와 Walc의 스피어만 상관계수 :
SpearmanrResult(correlation=0.013327512266639342, pvalue=0.6671022978689699)

traveltime 와 Walc의 스피어만 상관계수 :
SpearmanrResult(correlation=0.04398293396105513, pvalue=0.15557366561558328)

studytime 와 Walc의 스피어만 상관계수 :
SpearmanrResult(correlation=-0.23693877517185746, pvalue=8.677344965769149e-15)

failures 와 Walc의 스피어만 상관계수 :
SpearmanrResult(correlation=0.09058318372713389, pvalue=0.003396717745626305)

famrel 와 Walc의 스피어만 상관계수 :
SpearmanrResult(correlation=-0.10729474465389155, pvalue=0.0005152985259571904)

freetime 와 Walc의 스피어만 상관계수 :
SpearmanrResult(correlation=0.12397813512856297, pvalue=5.9053222081007005e-05)

goout 와 Walc의 스피어만 상관계수 :
SpearmanrResult(correlation=0.3797553726540567, pvalue=3.742684639362221e-37)

Dalc 와 Walc의 스피어만 상관계수 :
SpearmanrResult(correlation=0.6231573191319967, pvalue=2.371022887980122e-113)

Walc 와 Walc의 스피어만 상관계수 :
SpearmanrResult(correlation=1.0, pvalue=0.0)

health 와 Walc의 스피어만 상관계수 :
SpearmanrResult(correlation=0.10664835133492996, pvalue=0.0005572035839909865)

G1 와 Walc의 스피어만 상관계수 :
SpearmanrResult(correlation=-0.1358160565633633, pvalue=1.065120369705034e-05)

G2 와 Walc의 스피어만 상관계수 :
SpearmanrResult(correlation=-0.14475768794020835, pvalue=2.647635163297724e-06)

G3 와 Walc의 스피어만 상관계수 :
SpearmanrResult(correlation=-0.14932965629474212, pvalue=1.2571774426207772e-06)