<a href="https://colab.research.google.com/github/Ash-Stat/An-Si-Hyun/blob/data/%ED%92%88%EC%A7%88%EA%B3%B5%ED%95%99%ED%85%80%ED%94%84%EC%B5%9C%EC%A2%85%EC%BD%94%EB%93%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [18]:
#데이터불러오기 및 합쳐주기
import pandas as pd
student=pd.read_csv('./student-mat.csv')
student1=pd.read_csv('./student-por.csv')
student=pd.concat([student,student1],axis=0)
student

    school sex  age address famsize Pstatus  ...  Walc  health absences  G1  G2  G3
0       GP   F   18       U     GT3       A  ...     1       3        6   5   6   6
1       GP   F   17       U     GT3       T  ...     1       3        4   5   5   6
2       GP   F   15       U     LE3       T  ...     3       3       10   7   8  10
3       GP   F   15       U     GT3       T  ...     1       5        2  15  14  15
4       GP   F   16       U     GT3       T  ...     2       5        4   6  10  10
..     ...  ..  ...     ...     ...     ...  ...   ...     ...      ...  ..  ..  ..
644     MS   F   19       R     GT3       T  ...     2       5        4  10  11  10
645     MS   F   18       U     LE3       T  ...     1       1        4  15  15  16
646     MS   F   18       U     GT3       T  ...     1       5        6  11  12   9
647     MS   M   17       U     LE3       T  ...     4       2        6  10  10  10
648     MS   M   18       R     LE3       T  ...     4       5        4  10  11  11

[1044 rows x 33 columns]

In [19]:
#직교배열표 구성을 위해 중복값 제거
sample_data=student.drop_duplicates()
sample_data

    school sex  age address famsize Pstatus  ...  Walc  health absences  G1  G2  G3
0       GP   F   18       U     GT3       A  ...     1       3        6   5   6   6
1       GP   F   17       U     GT3       T  ...     1       3        4   5   5   6
2       GP   F   15       U     LE3       T  ...     3       3       10   7   8  10
3       GP   F   15       U     GT3       T  ...     1       5        2  15  14  15
4       GP   F   16       U     GT3       T  ...     2       5        4   6  10  10
..     ...  ..  ...     ...     ...     ...  ...   ...     ...      ...  ..  ..  ..
644     MS   F   19       R     GT3       T  ...     2       5        4  10  11  10
645     MS   F   18       U     LE3       T  ...     1       1        4  15  15  16
646     MS   F   18       U     GT3       T  ...     1       5        6  11  12   9
647     MS   M   17       U     LE3       T  ...     4       2        6  10  10  10
648     MS   M   18       R     LE3       T  ...     4       5        4  10  11  11

[1044 rows x 33 columns]

In [20]:
#범주형변수들을 이원분할표 작성을위해서 숫자를 부여해준다.
student=student.replace('other',1)
student=student.replace('services',2)
student=student.replace('at_home',3)
student=student.replace('teacher',4)
student=student.replace('health',5)

student=student.replace('yes',1)
student=student.replace('no',2)
student=student.replace('M',1)
student=student.replace('F',2)
student=student.replace('T',1)
student=student.replace('A',2)
student

    school  sex  age address famsize  ...  health  absences  G1  G2  G3
0       GP    2   18       U     GT3  ...       3         6   5   6   6
1       GP    2   17       U     GT3  ...       3         4   5   5   6
2       GP    2   15       U     LE3  ...       3        10   7   8  10
3       GP    2   15       U     GT3  ...       5         2  15  14  15
4       GP    2   16       U     GT3  ...       5         4   6  10  10
..     ...  ...  ...     ...     ...  ...     ...       ...  ..  ..  ..
644     MS    2   19       R     GT3  ...       5         4  10  11  10
645     MS    2   18       U     LE3  ...       1         4  15  15  16
646     MS    2   18       U     GT3  ...       5         6  11  12   9
647     MS    1   17       U     LE3  ...       2         6  10  10  10
648     MS    1   18       R     LE3  ...       5         4  10  11  11

[1044 rows x 33 columns]

In [21]:
#필요없는 변수와 잡음인자를 제거해주고, 타겟변수를 따로 빼준다.
Y=student['Walc']
dataset=student.drop(['school','sex','age','reason'],axis=1)
dataset

    address famsize  Pstatus  Medu  Fedu  ...  health  absences  G1  G2  G3
0         U     GT3        2     4     4  ...       3         6   5   6   6
1         U     GT3        1     1     1  ...       3         4   5   5   6
2         U     LE3        1     1     1  ...       3        10   7   8  10
3         U     GT3        1     4     2  ...       5         2  15  14  15
4         U     GT3        1     3     3  ...       5         4   6  10  10
..      ...     ...      ...   ...   ...  ...     ...       ...  ..  ..  ..
644       R     GT3        1     2     3  ...       5         4  10  11  10
645       U     LE3        1     3     1  ...       1         4  15  15  16
646       U     GT3        1     1     1  ...       5         6  11  12   9
647       U     LE3        1     3     1  ...       2         6  10  10  10
648       R     LE3        1     3     2  ...       5         4  10  11  11

[1044 rows x 29 columns]

#변수 구별
category=student[['address','famsize','Pstatus','Mjob','Fjob','guardian','schoolsup','famsup','paid','activities','nursery','higher','internet','romantic']]
counting=student[['Medu','Fedu','traveltime','studytime','failures','famrel','freetime','goout','Dalc','Walc','health','G1','G2','G3']]
discrete=student['absences']

In [22]:
#카이제곱검정을 위한 이원분할표 작성 코드
# 타겟과 address
a1=pd.DataFrame(dataset[dataset['Walc'] == 1]['address'])
a2=pd.DataFrame(dataset[dataset['Walc'] == 2]['address'])
a3=pd.DataFrame(dataset[dataset['Walc'] == 3]['address'])
a4=pd.DataFrame(dataset[dataset['Walc'] == 4]['address'])
a5=pd.DataFrame(dataset[dataset['Walc'] == 5]['address'])
print(a1.value_counts())
print(a2.value_counts())
print(a3.value_counts())
print(a4.value_counts())
print(a5.value_counts())

# 타겟과 famsize
a6=pd.DataFrame(dataset[dataset['Walc'] == 1]['famsize'])
a7=pd.DataFrame(dataset[dataset['Walc'] == 2]['famsize'])
a8=pd.DataFrame(dataset[dataset['Walc'] == 3]['famsize'])
a9=pd.DataFrame(dataset[dataset['Walc'] == 4]['famsize'])
a10=pd.DataFrame(dataset[dataset['Walc'] == 5]['famsize'])
print(a6.value_counts())
print(a7.value_counts())
print(a8.value_counts())
print(a9.value_counts())
print(a10.value_counts())

# 타겟과 Pstatus
a6=pd.DataFrame(dataset[dataset['Walc'] == 1]['Pstatus'])
a7=pd.DataFrame(dataset[dataset['Walc'] == 2]['Pstatus'])
a8=pd.DataFrame(dataset[dataset['Walc'] == 3]['Pstatus'])
a9=pd.DataFrame(dataset[dataset['Walc'] == 4]['Pstatus'])
a10=pd.DataFrame(dataset[dataset['Walc'] == 5]['Pstatus'])
print(a6.value_counts())
print(a7.value_counts())
print(a8.value_counts())
print(a9.value_counts())
print(a10.value_counts())

# 타겟과 Mjob
a6=pd.DataFrame(dataset[dataset['Walc'] == 1]['Mjob'])
a7=pd.DataFrame(dataset[dataset['Walc'] == 2]['Mjob'])
a8=pd.DataFrame(dataset[dataset['Walc'] == 3]['Mjob'])
a9=pd.DataFrame(dataset[dataset['Walc'] == 4]['Mjob'])
a10=pd.DataFrame(dataset[dataset['Walc'] == 5]['Mjob'])
print(a6.value_counts())
print(a7.value_counts())
print(a8.value_counts())
print(a9.value_counts())
print(a10.value_counts())

# 타겟과 Fjob
a6=pd.DataFrame(dataset[dataset['Walc'] == 1]['Fjob'])
a7=pd.DataFrame(dataset[dataset['Walc'] == 2]['Fjob'])
a8=pd.DataFrame(dataset[dataset['Walc'] == 3]['Fjob'])
a9=pd.DataFrame(dataset[dataset['Walc'] == 4]['Fjob'])
a10=pd.DataFrame(dataset[dataset['Walc'] == 5]['Fjob'])
print(a6.value_counts())
print(a7.value_counts())
print(a8.value_counts())
print(a9.value_counts())
print(a10.value_counts())

# 타겟과 schoolsup
a6=pd.DataFrame(dataset[dataset['Walc'] == 1]['schoolsup'])
a7=pd.DataFrame(dataset[dataset['Walc'] == 2]['schoolsup'])
a8=pd.DataFrame(dataset[dataset['Walc'] == 3]['schoolsup'])
a9=pd.DataFrame(dataset[dataset['Walc'] == 4]['schoolsup'])
a10=pd.DataFrame(dataset[dataset['Walc'] == 5]['schoolsup'])
print(a6.value_counts())
print(a7.value_counts())
print(a8.value_counts())
print(a9.value_counts())
print(a10.value_counts())

# 타겟과 famsup
a6=pd.DataFrame(dataset[dataset['Walc'] == 1]['famsup'])
a7=pd.DataFrame(dataset[dataset['Walc'] == 2]['famsup'])
a8=pd.DataFrame(dataset[dataset['Walc'] == 3]['famsup'])
a9=pd.DataFrame(dataset[dataset['Walc'] == 4]['famsup'])
a10=pd.DataFrame(dataset[dataset['Walc'] == 5]['famsup'])
print(a6.value_counts())
print(a7.value_counts())
print(a8.value_counts())
print(a9.value_counts())
print(a10.value_counts())

# 타겟과 paid
a6=pd.DataFrame(dataset[dataset['Walc'] == 1]['paid'])
a7=pd.DataFrame(dataset[dataset['Walc'] == 2]['paid'])
a8=pd.DataFrame(dataset[dataset['Walc'] == 3]['paid'])
a9=pd.DataFrame(dataset[dataset['Walc'] == 4]['paid'])
a10=pd.DataFrame(dataset[dataset['Walc'] == 5]['paid'])
print(a6.value_counts())
print(a7.value_counts())
print(a8.value_counts())
print(a9.value_counts())
print(a10.value_counts())

# 타겟과 activities
a6=pd.DataFrame(dataset[dataset['Walc'] == 1]['activities'])
a7=pd.DataFrame(dataset[dataset['Walc'] == 2]['activities'])
a8=pd.DataFrame(dataset[dataset['Walc'] == 3]['activities'])
a9=pd.DataFrame(dataset[dataset['Walc'] == 4]['activities'])
a10=pd.DataFrame(dataset[dataset['Walc'] == 5]['activities'])
print(a6.value_counts())
print(a7.value_counts())
print(a8.value_counts())
print(a9.value_counts())
print(a10.value_counts())

# 타겟과 nursery
a6=pd.DataFrame(dataset[dataset['Walc'] == 1]['nursery'])
a7=pd.DataFrame(dataset[dataset['Walc'] == 2]['nursery'])
a8=pd.DataFrame(dataset[dataset['Walc'] == 3]['nursery'])
a9=pd.DataFrame(dataset[dataset['Walc'] == 4]['nursery'])
a10=pd.DataFrame(dataset[dataset['Walc'] == 5]['nursery'])
print(a6.value_counts())
print(a7.value_counts())
print(a8.value_counts())
print(a9.value_counts())
print(a10.value_counts())

# 타겟과 higher
a6=pd.DataFrame(dataset[dataset['Walc'] == 1]['higher'])
a7=pd.DataFrame(dataset[dataset['Walc'] == 2]['higher'])
a8=pd.DataFrame(dataset[dataset['Walc'] == 3]['higher'])
a9=pd.DataFrame(dataset[dataset['Walc'] == 4]['higher'])
a10=pd.DataFrame(dataset[dataset['Walc'] == 5]['higher'])
print(a6.value_counts())
print(a7.value_counts())
print(a8.value_counts())
print(a9.value_counts())
print(a10.value_counts())

# 타겟과 internet
a6=pd.DataFrame(dataset[dataset['Walc'] == 1]['internet'])
a7=pd.DataFrame(dataset[dataset['Walc'] == 2]['internet'])
a8=pd.DataFrame(dataset[dataset['Walc'] == 3]['internet'])
a9=pd.DataFrame(dataset[dataset['Walc'] == 4]['internet'])
a10=pd.DataFrame(dataset[dataset['Walc'] == 5]['internet'])
print(a6.value_counts())
print(a7.value_counts())
print(a8.value_counts())
print(a9.value_counts())
print(a10.value_counts())

# 타겟과 romantic
a6=pd.DataFrame(dataset[dataset['Walc'] == 1]['romantic'])
a7=pd.DataFrame(dataset[dataset['Walc'] == 2]['romantic'])
a8=pd.DataFrame(dataset[dataset['Walc'] == 3]['romantic'])
a9=pd.DataFrame(dataset[dataset['Walc'] == 4]['romantic'])
a10=pd.DataFrame(dataset[dataset['Walc'] == 5]['romantic'])
print(a6.value_counts())
print(a7.value_counts())
print(a8.value_counts())
print(a9.value_counts())
print(a10.value_counts())

# 타겟과 school
a6=pd.DataFrame(student[student['Walc'] == 1]['school'])
a7=pd.DataFrame(student[student['Walc'] == 2]['school'])
a8=pd.DataFrame(student[student['Walc'] == 3]['school'])
a9=pd.DataFrame(student[student['Walc'] == 4]['school'])
a10=pd.DataFrame(student[student['Walc'] == 5]['school'])
print(a6.value_counts())
print(a7.value_counts())
print(a8.value_counts())
print(a9.value_counts())
print(a10.value_counts())

# 타겟과 sex
a6=pd.DataFrame(student[student['Walc'] == 1]['sex'])
a7=pd.DataFrame(student[student['Walc'] == 2]['sex'])
a8=pd.DataFrame(student[student['Walc'] == 3]['sex'])
a9=pd.DataFrame(student[student['Walc'] == 4]['sex'])
a10=pd.DataFrame(student[student['Walc'] == 5]['sex'])
print(a6.value_counts())
print(a7.value_counts())
print(a8.value_counts())
print(a9.value_counts())
print(a10.value_counts())

# 타겟과 reason
a6=pd.DataFrame(student[student['Walc'] == 1]['reason'])
a7=pd.DataFrame(student[student['Walc'] == 2]['reason'])
a8=pd.DataFrame(student[student['Walc'] == 3]['reason'])
a9=pd.DataFrame(student[student['Walc'] == 4]['reason'])
a10=pd.DataFrame(student[student['Walc'] == 5]['reason'])
print(a6.value_counts())
print(a7.value_counts())
print(a8.value_counts())
print(a9.value_counts())
print(a10.value_counts())

address
U          301
R           97
dtype: int64
address
U          166
R           69
dtype: int64
address
U          141
R           59
dtype: int64
address
U          103
R           35
dtype: int64
address
U          48
R          25
dtype: int64
famsize
GT3        299
LE3         99
dtype: int64
famsize
GT3        166
LE3         69
dtype: int64
famsize
GT3        137
LE3         63
dtype: int64
famsize
GT3        91
LE3        47
dtype: int64
famsize
GT3        45
LE3        28
dtype: int64
Pstatus
1          339
2           59
dtype: int64
Pstatus
1          212
2           23
dtype: int64
Pstatus
1          188
2           12
dtype: int64
Pstatus
1          118
2           20
dtype: int64
Pstatus
1          66
2           7
dtype: int64
Mjob
1       158
2        87
3        78
4        48
5        27
dtype: int64
Mjob
1       96
2       50
3       41
4       32
5       16
dtype: int64
Mjob
1       73
2       51
3       35
5       22
4       19
dtype: int64
Mjob
1       48
2       33
3       22
4       21
5       14
dtype: int64
Mjob
1       24
3       18
2       18
4       10
5        3
dtype: int64
Fjob
1       222
2        91
4        33
3        30
5        22
dtype: int64
Fjob
1       121
2        68
4        19
3        18
5         9
dtype: int64
Fjob
1       124
2        62
4         7
3         7
dtype: int64
Fjob
1       82
2       42
5        6
3        6
4        2
dtype: int64
Fjob
1       35
2       29
5        4
4        4
3        1
dtype: int64
schoolsup
2            329
1             69
dtype: int64
schoolsup
2            225
1             10
dtype: int64
schoolsup
2            177
1             23
dtype: int64
schoolsup
2            127
1             11
dtype: int64
schoolsup
2            67
1             6
dtype: int64
famsup
1         253
2         145
dtype: int64
famsup
1         150
2          85
dtype: int64
famsup
1         128
2          72
dtype: int64
famsup
2         70
1         68
dtype: int64
famsup
1         41
2         32
dtype: int64
paid
2       325
1        73
dtype: int64
paid
2       184
1        51
dtype: int64
paid
2       152
1        48
dtype: int64
paid
2       105
1        33
dtype: int64
paid
2       58
1       15
dtype: int64
activities
1             211
2             187
dtype: int64
activities
2             136
1              99
dtype: int64
activities
2             106
1              94
dtype: int64
activities
2             70
1             68
dtype: int64
activities
1             44
2             29
dtype: int64
nursery
1          331
2           67
dtype: int64
nursery
1          188
2           47
dtype: int64
nursery
1          159
2           41
dtype: int64
nursery
1          107
2           31
dtype: int64
nursery
1          50
2          23
dtype: int64
higher
1         369
2          29
dtype: int64
higher
1         220
2          15
dtype: int64
higher
1         183
2          17
dtype: int64
higher
1         124
2          14
dtype: int64
higher
1         59
2         14
dtype: int64
internet
1           303
2            95
dtype: int64
internet
1           189
2            46
dtype: int64
internet
1           164
2            36
dtype: int64
internet
1           115
2            23
dtype: int64
internet
1           56
2           17
dtype: int64
romantic
2           253
1           145
dtype: int64
romantic
2           151
1            84
dtype: int64
romantic
2           127
1            73
dtype: int64
romantic
2           98
1           40
dtype: int64
romantic
2           44
1           29
dtype: int64
school
GP        309
MS         89
dtype: int64
school
GP        164
MS         71
dtype: int64
school
GP        141
MS         59
dtype: int64
school
GP        102
MS         36
dtype: int64
school
GP        56
MS        17
dtype: int64
sex
2      270
1      128
dtype: int64
sex
2      150
1       85
dtype: int64
sex
2      116
1       84
dtype: int64
sex
1      94
2      44
dtype: int64
sex
1      62
2      11
dtype: int64
reason
course        171
home           98
reputation     96
1              33
dtype: int64
reason
course        98
reputation    59
home          56
1             22
dtype: int64
reason
course        69
reputation    58
home          49
1             24
dtype: int64
reason
course        61
home          35
reputation    24
1             18
dtype: int64
reason
course        31
home          20
reputation    11
1             11
dtype: int64

# 위와같이 구별해준후 엑셀로 작업하여 각 칼럼마다 이원분할표를 생성한다.

# *생성한 이원분할표는 zip파일에 같이 첨부해두었습니다.

In [23]:
#생성한 이원분할표 파일 불러오기

z0=pd.read_csv('./address.csv',encoding='cp949')
z0.index=z0['Unnamed: 0']
z0=z0.drop(['Unnamed: 0'],axis=1)

z1=pd.read_csv('./Fjob.csv',encoding='cp949')
z1.index=z1['Unnamed: 0']
z1=z1.drop(['Unnamed: 0'],axis=1)

z2=pd.read_csv('./Mjob.csv',encoding='cp949')
z2.index=z2['Unnamed: 0']
z2=z2.drop(['Unnamed: 0'],axis=1)

z3=pd.read_csv('./Pstatus.csv',encoding='cp949')
z3.index=z3['Unnamed: 0']
z3=z3.drop(['Unnamed: 0'],axis=1)

z4=pd.read_csv('./activities.csv',encoding='cp949')
z4.index=z4['Unnamed: 0']
z4=z4.drop(['Unnamed: 0'],axis=1)

z5=pd.read_csv('./famsize.csv',encoding='cp949')
z5.index=z5['Unnamed: 0']
z5=z5.drop(['Unnamed: 0'],axis=1)

z6=pd.read_csv('./famsup.csv',encoding='cp949')
z6.index=z6['Unnamed: 0']
z6=z6.drop(['Unnamed: 0'],axis=1)

z7=pd.read_csv('./higher.csv',encoding='cp949')
z7.index=z7['Unnamed: 0']
z7=z7.drop(['Unnamed: 0'],axis=1)

z8=pd.read_csv('./internet.csv',encoding='cp949')
z8.index=z8['Unnamed: 0']
z8=z8.drop(['Unnamed: 0'],axis=1)

z9=pd.read_csv('./nursery.csv',encoding='cp949')
z9.index=z9['Unnamed: 0']
z9=z9.drop(['Unnamed: 0'],axis=1)

z10=pd.read_csv('./paid.csv',encoding='cp949')
z10.index=z10['Unnamed: 0']
z10=z10.drop(['Unnamed: 0'],axis=1)

z11=pd.read_csv('./reason.csv',encoding='cp949')
z11.index=z11['Unnamed: 0']
z11=z11.drop(['Unnamed: 0'],axis=1)

z12=pd.read_csv('./romantic.csv',encoding='cp949')
z12.index=z12['Unnamed: 0']
z12=z12.drop(['Unnamed: 0'],axis=1)

z13=pd.read_csv('./school.csv',encoding='cp949')
z13.index=z13['Unnamed: 0']
z13=z13.drop(['Unnamed: 0'],axis=1)

z14=pd.read_csv('./schoolsup.csv',encoding='cp949')
z14.index=z14['Unnamed: 0']
z14=z14.drop(['Unnamed: 0'],axis=1)

z15=pd.read_csv('./sex.csv',encoding='cp949')
z15.index=z15['Unnamed: 0']
z15=z15.drop(['Unnamed: 0'],axis=1)

In [24]:
#카이제곱검정 결과 확인
import numpy as np
from scipy.stats import chi2_contingency
chi, p, dof, expected = chi2_contingency(z0)

print('address의 독립성검정')
print()
print(f"chi 스퀘어 값: {chi}",
      f"p-value (0.05): {p}",
      f"자유도 수: {dof}",
      f"기대값: \n{pd.DataFrame(expected)}",
      f"측정값: \n{z0}", sep = "\n" )

chi, p, dof, expected = chi2_contingency(z1)

print('Fjob의 독립성검정')
print()
print(f"chi 스퀘어 값: {chi}",
      f"p-value (0.05): {p}",
      f"자유도 수: {dof}",
      f"기대값: \n{pd.DataFrame(expected)}",
      f"측정값: \n{z1}", sep = "\n" )

chi, p, dof, expected = chi2_contingency(z2)

print('Mjob의 독립성검정')
print()
print(f"chi 스퀘어 값: {chi}",
      f"p-value (0.05): {p}",
      f"자유도 수: {dof}",
      f"기대값: \n{pd.DataFrame(expected)}",
      f"측정값: \n{z2}", sep = "\n" )

chi, p, dof, expected = chi2_contingency(z3)

print('Pstatus의 독립성검정')
print()
print(f"chi 스퀘어 값: {chi}",
      f"p-value (0.05): {p}",
      f"자유도 수: {dof}",
      f"기대값: \n{pd.DataFrame(expected)}",
      f"측정값: \n{z3}", sep = "\n" )

chi, p, dof, expected = chi2_contingency(z4)

print('activities의 독립성검정')
print()
print(f"chi 스퀘어 값: {chi}",
      f"p-value (0.05): {p}",
      f"자유도 수: {dof}",
      f"기대값: \n{pd.DataFrame(expected)}",
      f"측정값: \n{z4}", sep = "\n" )

chi, p, dof, expected = chi2_contingency(z5)

print('famsize의 독립성검정')
print()
print(f"chi 스퀘어 값: {chi}",
      f"p-value (0.05): {p}",
      f"자유도 수: {dof}",
      f"기대값: \n{pd.DataFrame(expected)}",
      f"측정값: \n{z5}", sep = "\n" )

chi, p, dof, expected = chi2_contingency(z6)

print('famsup의 독립성검정')
print()
print(f"chi 스퀘어 값: {chi}",
      f"p-value (0.05): {p}",
      f"자유도 수: {dof}",
      f"기대값: \n{pd.DataFrame(expected)}",
      f"측정값: \n{z6}", sep = "\n" )

chi, p, dof, expected = chi2_contingency(z7)

print('higher의 독립성검정')
print()
print(f"chi 스퀘어 값: {chi}",
      f"p-value (0.05): {p}",
      f"자유도 수: {dof}",
      f"기대값: \n{pd.DataFrame(expected)}",
      f"측정값: \n{z7}", sep = "\n" )

chi, p, dof, expected = chi2_contingency(z8)

print('internet의 독립성검정')
print()
print(f"chi 스퀘어 값: {chi}",
      f"p-value (0.05): {p}",
      f"자유도 수: {dof}",
      f"기대값: \n{pd.DataFrame(expected)}",
      f"측정값: \n{z8}", sep = "\n" )

chi, p, dof, expected = chi2_contingency(z9)

print('nursery의 독립성검정')
print()
print(f"chi 스퀘어 값: {chi}",
      f"p-value (0.05): {p}",
      f"자유도 수: {dof}",
      f"기대값: \n{pd.DataFrame(expected)}",
      f"측정값: \n{z9}", sep = "\n" )

chi, p, dof, expected = chi2_contingency(z10)

print('paid의 독립성검정')
print()
print(f"chi 스퀘어 값: {chi}",
      f"p-value (0.05): {p}",
      f"자유도 수: {dof}",
      f"기대값: \n{pd.DataFrame(expected)}",
      f"측정값: \n{z10}", sep = "\n" )

chi, p, dof, expected = chi2_contingency(z11)

print('reason의 독립성검정')
print()
print(f"chi 스퀘어 값: {chi}",
      f"p-value (0.05): {p}",
      f"자유도 수: {dof}",
      f"기대값: \n{pd.DataFrame(expected)}",
      f"측정값: \n{z11}", sep = "\n" )

chi, p, dof, expected = chi2_contingency(z12)

print('romantic의 독립성검정')
print()
print(f"chi 스퀘어 값: {chi}",
      f"p-value (0.05): {p}",
      f"자유도 수: {dof}",
      f"기대값: \n{pd.DataFrame(expected)}",
      f"측정값: \n{z12}", sep = "\n" )

chi, p, dof, expected = chi2_contingency(z13)

print('school의 독립성검정')
print()
print(f"chi 스퀘어 값: {chi}",
      f"p-value (0.05): {p}",
      f"자유도 수: {dof}",
      f"기대값: \n{pd.DataFrame(expected)}",
      f"측정값: \n{z13}", sep = "\n" )

chi, p, dof, expected = chi2_contingency(z14)

print('schoolsup의 독립성검정')
print()
print(f"chi 스퀘어 값: {chi}",
      f"p-value (0.05): {p}",
      f"자유도 수: {dof}",
      f"기대값: \n{pd.DataFrame(expected)}",
      f"측정값: \n{z14}", sep = "\n" )

chi, p, dof, expected = chi2_contingency(z15)

print('sex의 독립성검정')
print()
print(f"chi 스퀘어 값: {chi}",
      f"p-value (0.05): {p}",
      f"자유도 수: {dof}",
      f"기대값: \n{pd.DataFrame(expected)}",
      f"측정값: \n{z15}", sep = "\n" )

address의 독립성검정

chi 스퀘어 값: 4.746456898264595
p-value (0.05): 0.31431545407080974
자유도 수: 4
기대값:
            0           1
0  289.350575  108.649425
1  170.847701   64.152299
2  145.402299   54.597701
3  100.327586   37.672414
4   53.071839   19.928161
측정값:
              U   R
Unnamed: 0
수준1         301  97
수준2         166  69
수준3         141  59
수준4         103  35
수준5          48  25
Fjob의 독립성검정

chi 스퀘어 값: 42.18087770244574
p-value (0.05): 0.0003708164404658703
자유도 수: 16
기대값:
            0           1          2          3          4
0  222.636015  111.318008  23.636015  24.779693  15.630268
1  131.455939   65.727969  13.955939  14.631226   9.228927
2  111.877395   55.938697  11.877395  12.452107   7.854406
3   77.195402   38.597701   8.195402   8.591954   5.419540
4   40.835249   20.417625   4.335249   4.545019   2.866858
측정값:
            other  services  at_home  teacher  health
Unnamed: 0
수준1           222        91       30       33      22
수준2           121        68       18       19       9
수준3           124        62        7        7       0
수준4            82        42        6        2       6
수준5            35        29        1        4       4
Mjob의 독립성검정

chi 스퀘어 값: 13.763703202633689
p-value (0.05): 0.616312376261003
자유도 수: 16
기대값:
            0          1          2          3          4
0  152.109195  91.113027  73.957854  49.559387  31.260536
1   89.813218  53.797893  43.668582  29.262452  18.457854
2   76.436782  45.785441  37.164751  24.904215  15.708812
3   52.741379  31.591954  25.643678  17.183908  10.839080
4   27.899425  16.711686  13.565134   9.090038   5.733716
측정값:
            other  services  at_home  teacher  health
Unnamed: 0
수준1           158        87       78       48      27
수준2            96        50       41       32      16
수준3            73        51       35       19      22
수준4            48        33       22       21      14
수준5            24        18       18       10       3
Pstatus의 독립성검정

chi 스퀘어 값: 12.32715173042476
p-value (0.05): 0.015077275742628042
자유도 수: 4
기대값:
            0          1
0  351.871648  46.128352
1  207.763410  27.236590
2  176.819923  23.180077
3  122.005747  15.994253
4   64.539272   8.460728
측정값:
              T   A
Unnamed: 0
수준1         339  59
수준2         212  23
수준3         188  12
수준4         118  20
수준5          66   7
activities의 독립성검정

chi 스퀘어 값: 10.967463347051403
p-value (0.05): 0.02693212536683922
자유도 수: 4
기대값:
            0           1
0  196.712644  201.287356
1  116.149425  118.850575
2   98.850575  101.149425
3   68.206897   69.793103
4   36.080460   36.919540
측정값:
            yes   no
Unnamed: 0
수준1         211  187
수준2          99  136
수준3          94  106
수준4          68   70
수준5          44   29
famsize의 독립성검정

chi 스퀘어 값: 8.627283706920396
p-value (0.05): 0.07112158475567537
자유도 수: 4
기대값:
            0           1
0  281.344828  116.655172
1  166.120690   68.879310
2  141.379310   58.620690
3   97.551724   40.448276
4   51.603448   21.396552
측정값:
            GT3  LE3
Unnamed: 0
수준1         299   99
수준2         166   69
수준3         137   63
수준4          91   47
수준5          45   28
famsup의 독립성검정

chi 스퀘어 값: 11.334360231848535
p-value (0.05): 0.02305245248736061
자유도 수: 4
기대값:
            0           1
0  243.984674  154.015326
1  144.061303   90.938697
2  122.605364   77.394636
3   84.597701   53.402299
4   44.750958   28.249042
측정값:
            yes   no
Unnamed: 0
수준1         253  145
수준2         150   85
수준3         128   72
수준4          68   70
수준5          41   32
higher의 독립성검정

chi 스퀘어 값: 13.254000645422355
p-value (0.05): 0.0100991330321787
자유도 수: 4
기대값:
            0          1
0  364.070881  33.929119
1  214.966475  20.033525
2  182.950192  17.049808
3  126.235632  11.764368
4   66.776820   6.223180
측정값:
            yes  no
Unnamed: 0
수준1         369  29
수준2         220  15
수준3         183  17
수준4         124  14
수준5          59  14
internet의 독립성검정

chi 스퀘어 값: 5.150082757360273
p-value (0.05): 0.27224180241017615
자유도 수: 4
기대값:
            0          1
0  315.273946  82.726054
1  186.154215  48.845785
2  158.429119  41.570881
3  109.316092  28.683908
4   57.826628  15.173372
측정값:
            yes  no
Unnamed: 0
수준1         303  95
수준2         189  46
수준3         164  36
수준4         115  23
수준5          56  17
nursery의 독립성검정

chi 스퀘어 값: 9.082225099912817
p-value (0.05): 0.05907678455520938
자유도 수: 4
기대값:
            0          1
0  318.323755  79.676245
1  187.954981  47.045019
2  159.961686  40.038314
3  110.373563  27.626437
4   58.386015  14.613985
측정값:
            yes  no
Unnamed: 0
수준1         331  67
수준2         188  47
수준3         159  41
수준4         107  31
수준5          50  23
paid의 독립성검정

chi 스퀘어 값: 3.5526046326059153
p-value (0.05): 0.46992490388101626
자유도 수: 4
기대값:
           0           1
0  83.869732  314.130268
1  49.521073  185.478927
2  42.145594  157.854406
3  29.080460  108.919540
4  15.383142   57.616858
측정값:
            yes   no
Unnamed: 0
수준1          73  325
수준2          51  184
수준3          48  152
수준4          33  105
수준5          15   58
reason의 독립성검정

chi 스퀘어 값: 15.249212579761533
p-value (0.05): 0.2280898617739294
자유도 수: 12
기대값:
            0          1          2          3
0  163.927203  98.356322  94.544061  41.172414
1   96.791188  58.074713  55.823755  24.310345
2   82.375479  49.425287  47.509579  20.689655
3   56.839080  34.103448  32.781609  14.275862
4   30.067050  18.040230  17.340996   7.551724
측정값:
            course  home  reputation  other
Unnamed: 0
수준1            171    98          96     33
수준2             98    56          59     22
수준3             69    49          58     24
수준4             61    35          24     18
수준5             31    20          11     11
romantic의 독립성검정

chi 스퀘어 값: 3.3694612571256637
p-value (0.05): 0.49800247594514024
자유도 수: 4
기대값:
            0           1
0  141.434866  256.565134
1   83.510536  151.489464
2   71.072797  128.927203
3   49.040230   88.959770
4   25.941571   47.058429
측정값:
            yes   no
Unnamed: 0
수준1         145  253
수준2          84  151
수준3          73  127
수준4          40   98
수준5          29   44
school의 독립성검정

chi 스퀘어 값: 6.448666649624958
p-value (0.05): 0.16805367284233605
자유도 수: 4
기대값:
            0           1
0  294.306513  103.693487
1  173.773946   61.226054
2  147.892720   52.107280
3  102.045977   35.954023
4   53.980843   19.019157
측정값:
             GP  MS
Unnamed: 0
수준1         309  89
수준2         164  71
수준3         141  59
수준4         102  36
수준5          56  17
schoolsup의 독립성검정

chi 스퀘어 값: 28.107422120484923
p-value (0.05): 1.1862996772283102e-05
자유도 수: 4
기대값:
           0           1
0  45.365900  352.634100
1  26.786398  208.213602
2  22.796935  177.203065
3  15.729885  122.270115
4   8.320881   64.679119
측정값:
            yes   no
Unnamed: 0
수준1          69  329
수준2          10  225
수준3          23  177
수준4          11  127
수준5           6   67
sex의 독립성검정

chi 스퀘어 값: 18.77102887819163
p-value (0.05): 0.0008716675591523462
자유도 수: 4
기대값:
            0           1
0  263.808429  134.191571
1  155.766284   79.233716
2  132.567050   67.432950
3   91.471264   46.528736
4   48.386973   24.613027
측정값:
              F    M
Unnamed: 0
수준1         270  128
수준2         150   85
수준3         116   84
수준4          94   44
수준5          62   11

In [25]:
#순서형 자료의 스피어만 상관계수를 구해보기
from scipy import stats as st
counting=student[['Medu','Fedu','traveltime','studytime','failures','famrel','freetime','goout','Dalc','Walc','health','G1','G2','G3']]
for x in counting:
  print(x,'와 Walc의 스피어만 상관계수 :')
  print(st.spearmanr(counting[x],Y))
  print()

Medu 와 Walc의 스피어만 상관계수 :
SpearmanrResult(correlation=-0.02726399516987281, pvalue=0.3788404037809686)

Fedu 와 Walc의 스피어만 상관계수 :
SpearmanrResult(correlation=0.013327512266639342, pvalue=0.6671022978689699)

traveltime 와 Walc의 스피어만 상관계수 :
SpearmanrResult(correlation=0.04398293396105513, pvalue=0.15557366561558328)

studytime 와 Walc의 스피어만 상관계수 :
SpearmanrResult(correlation=-0.23693877517185746, pvalue=8.677344965769149e-15)

failures 와 Walc의 스피어만 상관계수 :
SpearmanrResult(correlation=0.09058318372713389, pvalue=0.003396717745626305)

famrel 와 Walc의 스피어만 상관계수 :
SpearmanrResult(correlation=-0.10729474465389155, pvalue=0.0005152985259571904)

freetime 와 Walc의 스피어만 상관계수 :
SpearmanrResult(correlation=0.12397813512856297, pvalue=5.9053222081007005e-05)

goout 와 Walc의 스피어만 상관계수 :
SpearmanrResult(correlation=0.3797553726540567, pvalue=3.742684639362221e-37)

Dalc 와 Walc의 스피어만 상관계수 :
SpearmanrResult(correlation=0.6231573191319967, pvalue=2.371022887980122e-113)

Walc 와 Walc의 스피어만 상관계수 :
SpearmanrResult(correlation=1.0, pvalue=0.0)

health 와 Walc의 스피어만 상관계수 :
SpearmanrResult(correlation=0.10664835133492996, pvalue=0.0005572035839909865)

G1 와 Walc의 스피어만 상관계수 :
SpearmanrResult(correlation=-0.1358160565633633, pvalue=1.065120369705034e-05)

G2 와 Walc의 스피어만 상관계수 :
SpearmanrResult(correlation=-0.14475768794020835, pvalue=2.647635163297724e-06)

G3 와 Walc의 스피어만 상관계수 :
SpearmanrResult(correlation=-0.14932965629474212, pvalue=1.2571774426207772e-06)

In [28]:
#다구찌에 적용할 직교배열표 구성을 위해서 실제 데이터셋에 존재하는 각 칼럼별 모든 경우의수를 구한후, 타겟 변수인 Walc의 평균을 구해준다.
#변수를 선택함에 있어서 앞서 실시한 카이제곱 검정과 스피어만 상관계수 검정을 기반으로 통계적 유의성을 확보한 칼럼만 추출한다.
grouped=student['Walc'].groupby([student['studytime'],student['goout'],student['Fjob'],student['famsup'],student['schoolsup'],
                      student['sex'],student['Pstatus']]).mean()
grouped=pd.DataFrame([grouped])
grouped=grouped.T
grouped

grouped.to_excel('./Taguchi.xlsx')

In [27]:
#결과확인
grouped

                                                   Walc
studytime goout Fjob famsup schoolsup sex Pstatus
1         1     1    1      1         1   1         1.0
                                      2   1         1.0
                            2         2   1         1.8
                     2      1         2   1         1.0
                            2         1   1         2.8
...                                                 ...
4         5     1    1      2         1   2         3.0
                2    1      2         1   1         5.0
                                      2   1         2.0
                3    1      2         1   1         4.0
                5    1      2         1   1         5.0

[279 rows x 1 columns]